<div class="exam-preview-box">
    <!--头部-->
    <div class="answer-content-box clearfix">
        <div class="container">
            <div class="navbar-box"><a>问卷预览</a></div>
            <span style="float: right" wf-user-info="userinfo"></span>
        </div>
	</div>
    

    <!--内容-->
    <div class="container appil-container jqContent">
        <div ng-show="isUserShare" class="clearfix share-boxs"><a class="question-share-btn" ng-click="share()" title="分享"><i class="glyphicon glyphicon-share-alt"></i>分享</a></div>
        <div class="surveyhead">
            <h1>{{viewAnswer.title}}</h1>
            <div class="surveydescription">
                <span style="vertical-align: middle;"><span ng-bind-html="trustAsHtml(viewAnswer.summary)"></span>
            </div>
        </div>
        <div class="time-hint-boxs">
            <div class="time-exam-center">
                <div ng-if="loadState===2">此问卷将于{{startTime|date: 'yyyy-MM-dd HH:mm'}}开始答卷</div>
                <div ng-if="loadState===4">此问卷已于{{endTime|date: 'yyyy-MM-dd HH:mm'}}停止答卷</div>
                <div style="color:red" ng-if="loadState===8">此问卷当前处于非运行状态</div>
            </div>
            <div>
                <span ng-value="viewAnswer.answeredTimes=answeredTimes"></span>
                <span>答题时间已使用 {{answeredTimes|formatSeconds}}</span>
                <span ng-if="(viewAnswer.timeLimit-answeredTimes)<=answeredResidueTimes&&answeredResidueTimes!=-1&&(viewAnswer.timeLimit|formatSeconds)!=false">,此问卷答题限时{{viewAnswer.timeLimit|formatSeconds}},还剩{{         (viewAnswer.timeLimit-answeredTimes)>=0?(viewAnswer.timeLimit-answeredTimes):0|formatSeconds}},当剩余时间为0时系统将自动提交 </span>
            </div>
            <div style="background-color: mintcream;">
                <span ng-if="standingMaxTime!=null">本页剩余时间：{{standingMaxTime|formatSeconds}}</span>
                <span ng-if="standingMinTime!=null"> 还剩{{standingMinTime|formatSeconds}}秒才可以进入下一页</span>
            </div>
        </div>
        
        <!--题目-->
        <div class="surveycontent">
            <div ng-if="loadState<=1" class="surveycontent">
                <div>
                    <fieldset class='fieldset' id='fieldset1'>
                        <div class="div_question_answer" ng-repeat="question in viewAnswer.questions track by $index" ng-init="checkLast($last)"
                            ng-show="(question|paging:showQuestions:currentPage)" ng-include="question.questionType|previewquestionTemplat"
                            ng-init="question.isRelevanceQuestion=question.related"  ng-class="{true: '', false: 'notPassVerificationClass'}[(question|verifyIsPass:notPassVerification)]"  ng-class="{true: 'unconditional-skip-hiden', false: ''}[ question.unconditionalSkipClass || option.answerOption || question.isRelevanceQuestion ]">
                        </div>
                    </fieldset>

                    <div style=' margin-top:6px;'>
                        <table style=' margin:0 auto;'>
                            <tr>
                                <td> 
                                    <input type='button' value='提交' id='btnNext' ng-show="currentPage>=maxPage" ng-click="commit(viewAnswer)" class='finish cancle'
                                        style='height:30px;'/>
                                    <input type='button' value='下一页' id='btnNext' ng-show="currentPage<maxPage&&!(standingMinTime>0)" ng-click="nextPage()" class='finish cancle'
                                        style='height:30px;' />
                                    <input type='button' value='下一页' id='btnNext' ng-show="currentPage<maxPage&&standingMinTime>0" class='finish cancle' style='height:30px;' />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div wf-loading="loading" loading-opts="{ title: '系统正在提交中...', defaultShow: true }"></div>

            <!--页脚-->
            <div class="exam-center footer-exam-center">
                <div class="footer-content-box">
                    <p>Copyright 2016 Sino-Ocean Group Holding Limited</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分享二维码-->
<div ng-show="IsShareQrContainer" class="modal hidden-print">
    <div class="modal-backdrop hidden-print"></div>
    <div class="modal-content center-block modal-content-box code-popup">
        <div class="modal-dialog-box">
            <div class="clearfix">
                <a ng-click="IsShareQrContainer=false" class="glyphicon glyphicon-remove" style="float:right;"></a>
            </div>
            <div class="QR-code" id="shareQrContainer"></div>
            <input type="text" id="shareQrId" value="{{shareUrl}}" style="width:80%" />
            <button type="button" class="btn btn-xs btn-primary" ng-click="copyShareUrl()">复制</button>
        </div>
    </div>
</div>