<!--头部-->
    <div class="answer-content-box clearfix">
        <div class="container">
            <div class="navbar-box"><a>统计分析</a></div>
            <span style="float: right" wf-user-info="userinfo"></span>
        </div>
	</div>
<div class="container question-statistics-form" ng-if="dataIsNull!==true">
      <div><a class="glyphicon glyphicon-export" style="color:blue;" title="点击下载Excel文档" href="{{excelUrl}}"></a></div>
    <div class="question-statistics-ul"> 
        <div wf-loading="loading" loading-opts="{ title: '系统正在提交中...', defaultShow: true }"></div>
        <ul>
            <li class="clearfix" ng-repeat="question in data" ng-if="question.questionType !=='分页'">
                <ul class="statistics-ul-question">
                    <li>第{{question.no}}题：</li>
                    <li ng-bind-html="trustAsHtml(question.title)"></li>
                    <li style="color:#0066FF;">[{{question.questionType}}]</li>
                    <li ng-if="question.category=='exam'" class="li-question">答对人数：{{question.correctNumber}}</li>
                    <li style="float: right">
                        <ul class="statistics-picture-btn">
                            <li><input type="button" value="表格" class="btn btn-primary btn-sm" ng-click="showPie(question)"></li>
                            <li><input type="button" value="饼状图" class="btn btn-primary btn-sm" ng-click="showPieChart(question)"></li> 
                            <!--<li><input type="button" value="圆环图" class="btn btn-primary btn-sm"></li>
                            <li><input type="button" value="柱状图" class="btn btn-primary btn-sm"></li>
                            <li><input type="button" value="条形图" class="btn btn-primary btn-sm"></li>-->
                        </ul>
                    </li>
                </ul>
                <div style="margin-top:5px;display: inline-block;width: 99%;" ng-show="currentTableQuestion===question.no">
                    <table class="table table-bordered " qi="10000" cellspacing="0" cellpadding="3" border="0"
                        style="background-color:#e0e0e0;width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr class="text2" align="center" style="font-weight:bold;">
                                <td title="点击按选项顺序排序">选项</td>
                                <td title="点击排序" align="center">小计</td>
                                <td align="left">比例</td>
                                <td align="left">详情</td>
                            </tr>
                            <tr style="background:white;" ng-repeat="option in question.options">
                                <td val="1">{{option.title}}</td>
                                <td align="center">{{option.answerAmount |number:0}}</td>
                                <td percent="100"> {{option.answerRate |number:0}}%</td>
                                <td><a style="color: #0066FF" ng-click="detailsDialog(question,$index,question.code)" ng-if="question.questionType !=='单选题' && question.questionType !=='多选题'&& question.questionType !=='考试单选题'&& question.questionType !=='考试多选题'">详情</a></td>
                                <!--<td><a style="color: #0066FF" ng-click="pages(2017294922)" ng-if="question.questionType !=='单选题' && question.questionType !=='多选题'&& question.questionType !=='考试单选题'&& question.questionType !=='考试多选题'">详情</a></td>-->
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div class="statistics-picture-box" ng-if="question.no===item.no" ng-repeat="item in charts"> 
                    <div ng-if="chartConfig.dataLoaded&&currentPieQuestion===question.no&&question.no===item.no" class="charts-class" ng-echarts ec-config="chartConfig" ec-option="item.values"></div>
                </div> 
                 
            </li>
        </ul>

    </div>
</div> 
<span ng-if="dataIsNull===true">暂无数据。  </span>
<!--页脚开始，不打印-->
<div class="bs-docs-footer hidden-print ng-scope">
    <div class="container appil-container">
        <p>Copyright 2016 Sino-Ocean Group Holding Limited</p>
    </div>
</div>
<!--页脚结束-->