<!--头部-->
<div class="answer-content-box clearfix">
    <div class="container">
        <div class="navbar-box"><a>答题卡</a></div>
        <span style="float: right" wf-user-info="userinfo"></span>
</div>
</div>
<div class="container testTyle-box">


    <div class="testTyle-title">{{answerData.creatorName}}答题卡：</div>
    <ul class="testTyle-select-boxs" ng-repeat="question in data" ng-if="question.questionType !=='分页'">
        <li>
            <span>{{question.no}}</span>
            <span>{{selectTitle(question.title)}}</span>
            <span style="color:#0066ff" >[{{question.questionType}}]</span>
<!--<span style="color:#efa030;"> 分值:{{question.score}}</span>  -->
</li>
<li>
    <span>
        <span ng-if="question.questionType !=='上传文件'">您的回答为： {{question.yourAnswer}}</span>
    <span ng-if="question.questionType ==='上传文件'">  
        您上传的文件:
    <a style="color: blue" ng-click="loadFiles(question.yourAnswer)">点击查看</a>
    </span>
    </span>
    <span ng-init="pageReadonly=true"></span>
    <div  ng-if="question.questionType ==='上传文件'" wf-uploader files="files" opts="opts1" ready="ready" read-only="pageReadonly"></div> 
</li>
<li>

</li>
</ul>
</div>
<!--页脚开始，不打印-->
<div class="bs-docs-footer hidden-print ng-scope">
    <div class="container appil-container">
        <p>Copyright 2016 Sino-Ocean Group Holding Limited</p>
    </div>
</div>
<!--页脚结束-->