<!--头部-->
    <div class="answer-content-box clearfix">
        <div class="container">
            <div class="navbar-box"><a>答案解析</a></div>
            <span style="float: right" wf-user-info="userinfo"></span>
        </div>
	</div>
<div class="container testTyle-box">
      <div class="testTyle-title">{{answerData.creatorName}}成绩单:</div>
      <ul class="testTyle-select-boxs">
            <li>您的得分：<span>{{answerData.aggregateScore}}</span>&nbsp;分&nbsp;&nbsp;答对题数：{{answerData.correctQuestionCount}}&nbsp;题</li>
            <li>问卷满分：{{amount}}&nbsp;分&nbsp;&nbsp;测试题数：{{questionCount}}&nbsp;题</li>
      </ul>

      <div class="testTyle-title">答案解析:</div>
      <ul class="testTyle-select-boxs" ng-repeat="question in data" ng-if="question.questionType !=='分页'">
            <li> 
                <span>{{question.no}}</span>  
                <span>{{selectTitle(question.title)}}</span> 
                <span style="color:#0066ff" >[{{question.questionType}}]</span>
                <span style="color:#efa030;"> 分值:{{question.score}}</span>  
            </li>
            <li>
                  <span>您的回答为：{{question.yourAnswer}}</span>
                  <span ng-if="question.isRight">（得分：{{question.score}}）</span>
                  <span ng-if="question.isRight" style="color: limegreen">√</span>
                  <span ng-if="question.isRight===false" style="color: red">×</span>
            </li>
            <li>
                  <span style="color:#4096ee;" ng-if="question.yourAnswer !=question.rightKey">正确答案为：{{question.rightKey}}</span>
            </li>
      </ul>
</div>
<!--页脚开始，不打印-->
<div class="bs-docs-footer hidden-print ng-scope">
    <div class="container appil-container">
        <p>Copyright 2016 Sino-Ocean Group Holding Limited</p>
    </div>
</div>
<!--页脚结束-->