<!--nav-->
<div class="answer-content-box clearfix">
    <div class="container">
        <div class="navbar-box"><a>答题详情</a></div> 
        <span style="float: right" wf-user-info="userinfo"></span>
    </div>
</div>

<!--内容-->
<div class="container testTyle-box">
          <div><a class="glyphicon glyphicon-export" style="color:blue;" title="点击下载Excel文档" href="{{excelUrl}}"></a></div>
    <div style="background: #fff;padding: 10px">
        <table class="table table-striped table-hover">
            <thead> 
                    <th>答题人</th>
                    <th>答题所用时间(秒)</th>
                    <th>得分</th>
                    <th>答对题数</th>
                    <th>开始答题时间</th>
                    <th>查看成绩单</th>
                    <th>查看答题卡</th> 
            </thead>
            <tbody>
                <tr ng-repeat="consequence in consequences"> 
                    <td>{{consequence.creatorName}}</td>
                    <td>{{consequence.answeredTimes}}</td>
                    <td>
                        <span ng-if="questionsType ===2">{{consequence.aggregateScore}}</span>
                        <span ng-if="questionsType !==2">--</span>
                        </td>
                    <td>
                        <span ng-if="questionsType ===2">{{consequence.correctQuestionCount}}</span>
                        <span ng-if="questionsType !==2">--</span>
                    </td>
                    <td>{{consequence.createTime|date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <span ng-if="questionsType ===2">
                        <a style="color: blue" ng-click="toAsweredSheet(consequence.creator)">查看</a>
                        </span>
                         <span ng-if="questionsType !==2">
                        --
                        </span>
                    </td>
                    <td> 
                        <a style="color: blue" ng-click="answerSheet(consequence.creator)">查看</a>
                    </td>
                </tr>
            
            </tbody>
        </table>
        <div wf-loading="loading" loading-opts="{ title: '系统正在提交中...', defaultShow: true }"></div> 
    </div>
</div>

<!--页脚开始，不打印-->
<div class="bs-docs-footer hidden-print">
    <div class="container appil-container">
        <p>Copyright 2016 Sino-Ocean Group Holding ddmited</p>
    </div>
</div>
<!--页脚结束-->