<div class="details-popup-box">
    <ul class="details-popup-ul-box">
        <li>第{{obj.no}}题：{{selectTitle(obj.title)}}</li>
        <li style="color:#0066FF;">[{{obj.questionType}}]</li>
    </ul>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>
                    <a>序号</a>
                </th>
                <th>答题人</th>
                <th>提交答卷时间</th>
                <th>
                    <a>答案文本</a>
                </th>
                <th>查看答卷</th>
            </tr>
            <tr ng-repeat="fillIns in dataPage" ng-if="question.questionType !==obj.questionType">
                <td>{{$index+1}}</td>
                <td>{{fillIns.creatorName}}</td>
                <td>
                    <span>{{fillIns.createTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                </td> 
                <td>
                    <span>{{fillIns.answerOption}}</span>
                </td>
                <td>
                    <a ng-click="answerSheet(fillIns.creator)">查看答卷</a>
                </td>
            </tr>
        </tbody>
    </table>
    <span ng-if="pagination.totalItems===0">暂无数据。</span>
    <div ng-if="loading===false&&pagination.totalItems!==0" class="foot-page" tm-pagination="pagination"></div>
</div>