<div style="padding:20px">
    <div style="padding-bottom:10px">
        <span ng-init="addData.type=type"></span>
        <span>问卷名称：</span>
        <input style="width: 70%;min-width:380px" type="text" ng-model="addData.title" sog-valide-status="title">
        <a ng-click="confirm(addData)" type="button" class="btn btn-primary btn-sm">确定</a>
    </div>
</div>
