<div>
    <!--nav-->
    <div class="navbar navbar-default navbar-default-ie navbar-fixed-top hidden-print bg-nav">
        <div class="container">
            <div class="navbar-box"><a>问卷设计</a></div>
            <span style="float: right" wf-user-info="userinfo"></span>
        </div>
    </div> 
    <!--内容-->
    <div class="container appil-container questionnaires-content-box">
        <div class="questionnaires-project">
            <div class="clearfix found-questionnaires">
                <a ng-click="toTestTyle()" class="found-box"><i style="padding:2px;" class="glyphicon glyphicon-plus"></i>创建问卷、考试、投票</a>
            </div>

            <div class="found-questionnaires-config">
                <div wf-loading="loading" loading-opts="{ title: '系统正在提交中...', defaultShow: true }"></div>
                <div class="clearfix questionnaires-line" ng-repeat="item in data">

                    <div class="clearfix questionnaires-navbar"> 
                        <div>
                            <a title="{{item.title}}" ng-click="toPreview(item.serialNumber)" class="link-444 " target="_blank " style="text-decoration:underline; font-size:14px; ">{{item.title}}</a>
                            <span id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_lblId " tittle="问卷的编号" style="color:#444444; ">[编号:{{item.serialNumber}}]</span>
                            <a class="status-a-btn" title="当前处于{{item.status|questionnaireStatus}}状态">&nbsp;【状态：{{item.status|questionnaireStatus}}】</a>
                            <span>【答题人数：{{item.answeredCount}}</span>
                            <a ng-click="consequenceCount(item)">&nbsp;<i style="color: #337AB7" class="glyphicon glyphicon-refresh"></i></a>】
                        </div>
                        <ul>
                            <li>{{item.createTime|date: 'yyyy-MM-dd HH:mm'}}</li>
                        </ul>
                    </div>
                    <div class="questionnaires-config-box ">
                        <ul class="ul-a">
                            <li><a ng-click="toDesign(item.serialNumber)" class="view " title="设计问卷 "><i class="glyphicon glyphicon-file"></i>问卷设计 {{html}}</a></li>
                            <li><a ng-click="toStatistics(item.serialNumber)" class="view " title="答卷统计分析 "><i class="glyphicon glyphicon-tasks "></i>统计分析</a></li>
                        <li><a ng-click="answeredDetails(item.serialNumber)" class="view " title="答题详情 "><i class="glyphicon glyphicon-tasks "></i>答题详情</a></li>
                        
                        </ul>
                        <ul class="ul-b">
                            <li>
                                <a ng-click="share((shareBaseUrl+item.serialNumber))" ng-if="item.status===2" title="分享"><i class="glyphicon glyphicon-share-alt"></i>分享</a>
                            </li>
                            <li>
                                <!--<a  title="点击发布问卷"><i class="glyphicon glyphicon-send"></i>发布</a>-->
                                <a title="问卷当前处于草稿状态，点击发布此问卷" ng-click="updateStatus(item,2)" ng-if="item.status==1"><i class="glyphicon glyphicon-send"></i>发布</a>
                                <a title="问卷正在运行，点击停止此问卷" ng-click="updateStatus(item,4)" ng-if="item.status==2"><i class="glyphicon glyphicon-pause"></i>停止</a>
                                <a title="问卷已停止，点击重新发布此问卷" ng-click="updateStatus(item,2)" ng-if="item.status==4"><i class="glyphicon glyphicon-send"></i>发布</a>
                                <!--<a ng-click="updateStatus(item)"><i class="glyphicon glyphicon-send"></i>{{item.nextStatus|questionnaireStatus}}</a>-->
                            </li>
                            <!--<li><a ng-click="copyData(item)"><i class="glyphicon glyphicon-duplicate"></i>复制</a></li>-->
                            <li><a ng-click="deleteStatus(item)" title="删除此问卷"><i class="glyphicon glyphicon-trash"></i>删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <span ng-if="pagination.totalItems===0">暂无数据。</span>
            <div ng-if="loading===false&&pagination.totalItems!==0" class="foot-page" tm-pagination="pagination"></div>
        </div>
    </div>
</div>

<!--页脚开始，不打印-->
<div class="bs-docs-footer hidden-print">
    <div class="container appil-container">
        <p>Copyright 2016 Sino-Ocean Group Holding Limited</p>
    </div>
</div>
<!--页脚结束-->

<!--右侧通栏开始-->
<!--<div wf-right-side-navigator configs="{ opinionUrl: '', docs: [
     { title: '标准规范', category: '标准规范', more: '更多标准规范' }, { title: '测试测试', category: '测试测试', more: '更多测试测试' },{ title: '知识案例', category: [{title:'内部知识',category:'内部知识',more:'更多内部知识'},{title:'外部部知识',category:'外部知识',more:'更多外部知识'},{title:'其他',category:'其他',more:'更多其他知识'}] }] }"
    links="relativeLinks" customer-info="[{applicationName:'人员提供',programsName:null,category:null},{applicationName:'现场销售',programsName:null,category:null}]"></div>-->

<!--分享二维码-->
<div ng-show="IsShareQrContainer" class="modal hidden-print">
    <div class="modal-backdrop hidden-print"></div>
    <div class="modal-content center-block modal-content-box code-popup">
        <div class="modal-dialog-box">
            <div class="clearfix">
                <a ng-click="IsShareQrContainer=false" class="glyphicon glyphicon-remove" style="float:right;"></a>
            </div>
            <div class="QR-code" id="shareQrContainer"></div>
            <input type="text" id="shareQrId" value="{{shareUrl}}" style="width:80%" />
            <button type="button" class="btn btn-xs btn-primary" ng-click="copyShareUrl()">复制</button>
        </div>
    </div>
</div>