<!--nav-->
<div class="answer-content-box clearfix">
    <div class="container">
        <div class="navbar-box"><a>创建问卷</a></div> 
        <span style="float: right" wf-user-info="userinfo"></span>
    </div>
</div>

<!--内容-->
<div class="container testTyle-box">
    <div class="testTyle-title">选择创建试卷类型：</div> 
    <div class="testTyle-select-box">
        <dl ng-click="openDialog('investigation')" class="testTyle-dl">
            <dt><i class="glyphicon glyphicon-inbox"></i></dt>
            <dd>调查</dd> 
        </dl>
        <dl ng-click="openDialog('exam')" class="testTyle-dl">
            <dt><i class="glyphicon glyphicon-education"></i></dt>
            <dd>考试</dd>
        </dl>
        <!--<dl ng-click="openDialog('vote')" class="testTyle-dl">
            <dt><i class="glyphicon glyphicon-inbox"></i></dt>
            <dd>投票</dd>
        </dl>
        <dl ng-click="openDialog('evaluating')" class="testTyle-dl">
            <dt><i class="glyphicon glyphicon-blackboard"></i></dt>
            <dd>评测</dd>
        </dl>-->
    </div>
</div>

<!--页脚开始，不打印-->
<div class="bs-docs-footer hidden-print">
    <div class="container appil-container">
        <p>Copyright 2016 Sino-Ocean Group Holding ddmited</p>
    </div>
</div>
<!--页脚结束-->