﻿<div class="questionnaires-container">
	<div class="exam-header-box">
		<!--侧边栏-->
		<div id="ss-header">
			<ul id="divMenu">
				<li><button class="questionbuttons btn" ng-click="completed();" ng-disabled="ISdisabled"><i class="glyphicon glyphicon-check"></i>完成</li>
				<li><button ng-click="toPreview(item.serialNumber)" class="questionbuttons btn" target="_blank" ng-disabled="ISdisabled"><i class="glyphicon glyphicon-eye-open"></i>预览</li>
				<li><button class="questionbuttons btn" ng-click="save();" target="_blank" ng-disabled="ISdisabled"><i class="glyphicon glyphicon-floppy-save"></i>保存</li>		
			</ul>
		</div>
		<!--nav-->
		<div class="exam-content-box clearfix">
			<div style="float: left;" ng-include="'./views/design/share/nav.html'" id="topnav"></div>
			<span style="float: right" wf-user-info="userinfo"></span>
		</div>
	</div>

	<!--内容-->
	<div class="exam-content-box" > 
	<div class="survey" id="sur">
			<div style="width:840px;margin: 0 auto;">
				<div id="question" class="surveycontent" style="min-height: 345px;">

					<div ng-class="{ 'div_beginEdit_onclick': editingTitle }" class="surveyhead surveyhead-box" title="编辑问卷标题与问卷说明">
						<div class="clearfix" style="min-height: 145px;">
							<h1>{{viewModel.title}}</h1>
							<div id="pater_desc" ng-bind-html="trustAsHtml(viewModel.summary)" class="surveydescription" style="cursor: pointer;"></div>
							<div class="spanRight topic-config-box" ng-class="{'topic-config-compile': editingTitle}">
								<ul class="stuff">
									<li style="border: 1px solid #f17819;" ng-show="editingTitle===false" ng-click="editingTitle=true">
										<a><span class="design-icon design-edit"></span><span style="color: #f17819;">编辑</span></a>
									</li>
									<li style="border: 1px solid #f17819;" ng-show="editingTitle===true" ng-click="editingTitle=false">
										<a><span style="color: #f17819;" class="glyphicon glyphicon-ok"></span><span style="color: #f17819;">完成</span></a>
									</li>
									<div style="clear:both;"></div>
								</ul>
							</div> 
						</div>
						<div ng-if="editingTitle" class="surveyhead-editing">
							<div>
								<div>
									<span class="surveyhead-editing-explain">问卷标题：</span>
									<input style="width: 466px;" type="text" ng-model="viewModel.title">
								</div>

								<div class="clearfix surveyhead-explain-box">
									<span class="surveyhead-editing-explain">问卷说明：</span>
									<div style="float:left">
										<div class="ueditor ueditor-box" ng-model="viewModel.summary"></div>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="editingTitle" style="margin-bottom: 12px;">
							<input type="button" value="完成编辑" class="submitbutton" style="width: 96%;" ng-click="editingTitle=false">
						</div>
					</div>
					<!--分页-->
					<div class="div_question" ng-repeat="question in viewModel.questions track by $index" ng-if="$index===0 && question.questionType==='分页'"
						ng-include="'./views/design/questions/firstPage.html'" ng-class="{ 'div_question_onclick': question.editing  }">
					</div>
					<!--题目开始-->
					<div class="div_question" ng-repeat="question in viewModel.questions track by $index" ng-if="$index!==0" ng-include="question.questionType|questionTemplate"
						ng-class="{ 'div_question_onclick': question.editing  }">
					</div>
					<!--|questionTemplate-->
					<!--题目结束-->
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
	<!--加载loading-->
	<div style="margin-top: 0px; position: fixed; top: 150px;right:45%;z-index: 999;"  wf-loading="loading" loading-opts="{ title: '系统正在提交中...', defaultShow: true }"></div>
		
	<!--<div id="status_tip" style="height: auto; left: 0px; display: none; top: 531px;">保存问卷成功！</div>-->
	<!--页脚开始，不打印-->
	<div class="bs-docs-footer hidden-print">
		<div class="container appil-container">
			<p>Copyright 2016 Sino-Ocean Group Holding Limited</p>
		</div>
	</div>
	<!--页脚结束--> 

</div>
<!--右侧通栏开始，不打印-->
<div class="designnew-window-box" wf-right-side-navigator configs="{ opinionUrl: '', docs: [{ title: '标准规范', category: '知 识', more: '更 多' },{ title: '标准规范', category: '法律规范', more: '更多员工服务流程文件' }] }"
	links="relativeLinks" customers="processCustomers"></div>
<!--右侧通栏结束-->