

<input type="button" value="完成编辑" class="submitbutton" style="width: 100%;" ng-click="viewModel.endEdit(question)">

<div ng-if="question.questionType !== '分页' && question.questionType !== '段落说明'">
    <span ng-show="question.unconditionalJMP && question.unconditionalJMPTo && question.unconditionalJMPTo <= {{question.no}}" class="warningclass">
        <b>提示：</b>跳转题号必须大于本题题号({{question.no}}) 
    </span>
    <span ng-show="question.unconditionalJMP && question.unconditionalJMPTo && question.unconditionalJMPTo > {{question|questionAnswerFilter:viewModel.questions}}"
        class="warningclass">
        <b>提示：</b>跳转题号必须小于最大题号({{question|questionAnswerFilter:viewModel.questions}})
    </span>
    <span ng-show="question.optionJMP" ng-repeat="option in question.options track by $index"  ng-value="{{option.sortNo=$index}}">
        <span ng-show="question.optionJMP && option.optionJMPTo && option.optionJMPTo <= {{question.no}}" class="warningclass">
            <b>提示：</b>跳转题号必须大于本题题号({{question.no}})
        </span>
        <span ng-show="question.optionJMP && option.optionJMPTo && option.optionJMPTo > {{question|questionAnswerFilter:viewModel.questions}}" class="warningclass">
            <b>提示：</b>跳转题号必须小于最大题号({{question|questionAnswerFilter:viewModel.questions}})
        </span>
    </span>   
</div>
