<ul class="tabQTypet">
	

	<li><a><i class="glyphicon glyphicon-check"></i>选择</a>
		<!--选择-->
		<div id="divText" class="sidebarbox" style=" width: 105px; left: -20px; top: 42px;">
			<em></em><span></span>
			<ul class="sidebarlistb">
				<li ng-click="viewModel.addQuestion('radio')"><a>单选</a></li>
				<li ng-click="viewModel.addQuestion('check')"><a>多选</a></li>
			</ul>
		</div>
	</li>

	<li><a><i class="glyphicon glyphicon-edit"></i>填空</a>
		<!--填空-->
		<div id="divText" class="sidebarbox" style=" width: 108px; left: -20px; top: 42px;">
			<em></em><span></span>
			<ul class="sidebarlistb">
				<li ng-click="viewModel.addQuestion('question')"><a style="width:75px">单项填空</a></li>
				<!--<li ng-click="viewModel.addQuestion('gapfill')"><a style="width:75px">多项填空</a></li>-->
				<li ng-click="viewModel.addQuestion('matrix')"><a style="width:75px">矩阵填空</a></li>
			</ul>
		</div>
	</li>
	<!--<li><a><i class="glyphicon glyphicon-equalizer"></i>矩阵</a>
                <div id="divqMatrix" class="sidebarbox" style=" left: -64px; top: 100px;">
                    <em style="left:90px;"></em><span style="left:90px;"></span>

                    <div style="font-size:14px;color:#58595b;">矩阵题的每行是一个小问题</div>
                    <ul class="sidebarlistb">
                        <li ng-click="viewModel.addQuestion('matrixScale')"><a>矩阵量表</a></li>
                        <li ng-click="viewModel.addQuestion('matrixMultipleChoice')"><a>矩阵单选</a></li>
                        <li ng-click="viewModel.addQuestion('matrixMultipleChoices')"><a>矩阵多选</a></li>
                        <li ng-click="viewModel.addQuestion('matrix')"><a>矩阵填空</a></li>
                        <li ng-click="viewModel.addQuestion('matrixSlider')"><a>矩阵滑动条</a></li>
                        <li ng-click="viewModel.addQuestion('matrixComboBox')"><a>表格下拉框</a></li>
                        <li ng-click="viewModel.addQuestion('matrixNumerical')"><a>表格数值题</a></li>
                        <li ng-click="viewModel.addQuestion('matrixText')"><a>表格文本题</a></li>
                    </ul>
                </div>
            </li>-->
	<li><a><i class="glyphicon glyphicon-star-empty"></i>评分</a>
		<!--评分-->
		<div id="divScore" class="sidebarbox" style="width:164px;left: -38px;">
			<em style="left:70px;"></em><span style="left:70px;"></span>

			<div style="font-size:14px;color:#58595b;">
				可设置<b>每个选项的分数</b><br> 适合满意度调查与测评
			</div>
			<ul class="sidebarlistb"> 
				<li ng-click="viewModel.addQuestion('likert')"><a style="width:120px">量表题</a></li>
				<li ng-click="viewModel.addQuestion('ceping')"><a style="width:120px">评分单选</a></li>
				<li ng-click="viewModel.addQuestion('cepings')"><a style="width:120px">评分多选</a></li>
				<!--<li ng-click="viewModel.addQuestion('matrixScale')"><a style="width:120px">矩阵量表</a></li>-->
			</ul>
		</div>
	</li>	
	<li><a><i class="glyphicon glyphicon-inbox"></i>投票</a>
		<!--投票-->
		<div id="divTouPiao" class="sidebarbox" style="width:104px;left: -17px;">
			<em></em><span></span>
			<ul class="sidebarlistb">
				<li ng-click="viewModel.addQuestion('voteRadio')"><a>投票单选</a></li>
				<li ng-click="viewModel.addQuestion('voteCheck')"><a>投票多选</a></li>
				<!--<li ng-click="viewModel.addQuestion('surveyHead')"><a>toubu</a></li>-->
			</ul>
		</div>
	</li>
	<li><a><i class="glyphicon glyphicon-education"></i>考试</a>
		<!--考试-->
		<div id="divTest" class="sidebarbox" style=" width: 290px; left: -120px;">
			<em style="left:150px;"></em><span style="left:150px;"></span>

			<div style="font-weight:bold; font-size:14px; text-align:left;color:#000; padding-left:5px; clear:both;margin-bottom:5px;">
				添加题目：
			</div>
			<ul style="clear:both;" class="sidebarlistb">
				<li ng-click="viewModel.addQuestion('ceshi')"><a style="width:38px">
                            单选</a></li>
				<li ng-click="viewModel.addQuestion('ceshiJudge')"><a style="width:38px">
                            判断</a></li>
				<li ng-click="viewModel.addQuestion('ceshiMultipleChoices')"><a style="width:38px">
                            多选</a></li>
				<li ng-click="viewModel.addQuestion('ceshiQuestion')"><a style="width:65px">
                            单项填空</a></li>
				<!--<li ng-click="viewModel.addQuestion('ceshiGapfill')"><a style="width:58px">
                            多项填空</a></li>-->
				<li ng-click="viewModel.addQuestion('checkPermission')"><a style="width:38px">
                            简答</a></li>

			</ul>
			<ul style="padding-top:3px;clear:both; text-align:left;" class="sidebarlistb">
				<!--<li ng-click="viewModel.addQuestion('name')" class="info"><a style="width:40px;">姓名</a></li>-->
				<li ng-click="viewModel.addQuestion('checkBasicMessage')" class="info"><a style="width:90px;">基本信息</a></li>
				<!--<li ng-click="timeSetting()" class="info"><a style="width:90px;">考试时间设置</a></li>-->
			</ul>
		</div>
		
	</li>
	<li ng-click="viewModel.addQuestion('page')"><a><i class="glyphicon glyphicon-duplicate"></i>分页</a></li>
	<li ng-click="viewModel.addQuestion('cut')" style="width:95px;"><a><i class="glyphicon glyphicon-list"></i>段落说明</a></li>

	

	<li style="width:95px;"><a><i class="glyphicon glyphicon-king"></i>高级题型</a>
		<!--高级题型-->
		<div id="moretype" class="sidebarbox" style="width:185px;left: -48px;">
			<em style="left:90px;"></em><span style="left:90px;"></span>
			<ul class="sidebarlistb">

				<!--<li ng-click="viewModel.addQuestion('sum')"><a>比重题</a></li>-->
				<li ng-click="viewModel.addQuestion('slider')"><a>滑动条</a>
				</li>
				<!--<li ng-click="viewModel.addQuestion('qingjing')"><a>情景随机</a></li>-->
				<!--<li ng-click="viewModel.addQuestion('shop')"><a>商品题型</a></li>-->
				<li ng-click="viewModel.addQuestion('radioDown')"><a>下拉单选</a></li>
				<!--<li ng-click="viewModel.addQuestion('classRadioDown')"><a title="多级下拉框进行联动">多级下拉</a></li>-->
				<li ng-click="viewModel.addQuestion('sort')"><a>排序</a></li>
				<li ng-click="viewModel.addQuestion('fileupload')"><a>上传文件</a></li>
			</ul>
		</div>
	</li>
	<li id="liAll" style="width:95px;"><a style="border-right:none;"><i class="glyphicon glyphicon-user"></i>个人信息</a>
		<!--个人信息-->
		<div id="qType" class="sidebarbox" style="width:346px;left: -186px;">
			<em style="left:225px;"></em><span style="left:225px;"></span>
			<ul class="sidebarlistb">
				<li ng-click="viewModel.addQuestion('name')"><a>姓名</a></li>
				<li ng-click="viewModel.addQuestion('gender')"><a>性别</a></li>
				<li ng-click="viewModel.addQuestion('age')"><a>年龄段</a></li>
				<li ng-click="viewModel.addQuestion('province')"><a>省份</a></li>
				<!--<li ng-click="viewModel.addQuestion('city')"><a>省市</a></li>-->
				<!--<li ng-click="viewModel.addQuestion('provinceCity')"><a>省市区</a></li>-->
				<li ng-click="viewModel.addQuestion('phone')"><a>手机</a></li>
				<!--<li ng-click="viewModel.addQuestion('phoneCheckout')"><a>手机验证</a></li>-->
				<li ng-click="viewModel.addQuestion('email')"><a>Email</a></li>
				<!--<li ng-click="viewModel.addQuestion('date')"><a>日期</a></li>-->
				<!--<li ng-click="viewModel.addQuestion('map')"><a>地图</a></li>-->
				<li ng-click="viewModel.addQuestion('profession')"><a>职业</a></li>
				<li ng-click="viewModel.addQuestion('industry')"><a>行业</a></li>
				<!--<li ng-click="viewModel.addQuestion('school')"><a>高校</a></li>-->
				<!--<li ng-click="viewModel.addQuestion('address')"><a>邮寄地址</a></li>-->
			</ul>
		</div>
	</li>
	<li style="width: 92px;" ng-click="timeSetting()"><a><i class="glyphicon glyphicon-cog"></i>问卷设置</a></li>
	<div style="clear:both;"></div>
</ul>