<div style="padding: 10px 20px;">

    <div style="line-height: 25px;">
        <b>当前题目：</b>
        <span> 
            <span>{{obj|questionNoFilter:viewModel.questions}}.</span>
        <span class="content-topic" ng-bind-html="trustAsHtml(obj.title)"></span>
        </span>
    </div>

    <div style="line-height: 25px;"> 
        <b>关联题目：</b>
        <span>
            <select ng-options="question.no + '.' + selectTitle(question.title) for question in viewModel.questions | limitTo:index | filter:{'questionForm':'choiceQuestion'}" ng-model="obj.relevanceQuestion">
                <option value="">请选择关联的题目</option>                                                         
            </select>
        </span>
    </div>

    <div ng-show="obj.relevanceQuestion" style="line-height: 25px;"> 
        <div>
            <span>当关联的题目
               <span ng-show="obj.relevanceQuestion.selectivity === 'single'">选择</span>
               <select ng-model="obj.whetherSelect" ng-show="obj.relevanceQuestion.selectivity === 'multiple'">
                  <option value="choice">选择</option>
                  <option value="noChoice">没有选择</option>
               </select>下面的选项：
            </span>
        </div>
        <div>
            <ul class="option-box">
                <li ng-class="question.optionProportion" ng-repeat="option in obj.relevanceQuestion.options track by $index"  ng-value="{{option.sortNo=$index}}">
                    <input type="checkbox" ng-model="option.logicOption">
                    <!--<a class="jqRadio" style="position:static;" ng-model="option.pitchOn" ng-class="{ jqChecked: option.isDefault }"></a>-->
                    <label style="padding-left:2px;">{{option.title}}</label>                    
                </li>
                <div style="clear:both;"></div>
            </ul>
        </div>
        <div><span>中的任意一个时当前题目才显示</span></div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="confirm('obj.relevanceQuestion')">确定</button>
</div>