<ul class="stuff">
	<li style="border: 1px solid #f17819;" ng-show="!question.editing" ng-click="viewModel.beginEdit(question)">
		<a><span class="design-icon design-edit"></span><span style="color: #f17819;">编辑</span></a>
	</li>
	<li style="border: 1px solid #f17819;" ng-show="question.editing" ng-click="viewModel.endEdit(question)">
		<a><span style="color: #f17819;" class="glyphicon glyphicon-ok"></span><span style="color: #f17819;">完成</span></a>
	</li>
	<li ng-click="viewModel.copy(question)">
		<a title="复制此题"><span class="glyphicon glyphicon-duplicate"></span><span>复制</span></a>
	</li>
	<li ng-click="viewModel.remove(question)">
		<a><span class="glyphicon glyphicon-trash"></span><span>删除</span></a>
	</li>
	<li ng-click="viewModel.moveUp(question)">
		<a title="将此题上移"><span class="glyphicon glyphicon-upload"></span><span>上移</span></a>
	</li>
	<li ng-click="viewModel.moveDown(question)">
		<a title="将此题下移"><span class="glyphicon glyphicon-download"></span><span>下移</span></a>
	</li>
	<li ng-click="viewModel.moveToFirst(question)">
		<a title="将此题移动到第一题"><span class="glyphicon glyphicon-open-file"></span><span>最前</span></a>
	</li>
	<li ng-click="viewModel.moveToLast(question)">
		<a title="将此题移动到最后一题"><span class="glyphicon glyphicon-save-file"></span><span>最后</span></a>
	</li>
	<div style="clear:both;"></div>
</ul>