<div class="time-window-box">
    <div class="time-window-div">问卷时间设置</div>
    <ul>
        <li> 开始时间： 
            <input type="checkbox" ng-model="viewModel.isStartTime">
            <div style="display: inline-block;" ng-if="viewModel.isStartTime">
                <input readonly="readonly" style="width: 100px;" pick-a-date="viewModel.startTime" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }" class="form-control-text
                left1 left2 iecssl"/> 
                <select ng-model="viewModel.startHour"> 
                    <option ng-repeat="item in 0|numberToArray:23">{{item}}</option>  
                </select>&nbsp;点 
                <select ng-model="viewModel.startMinute"> 
                    <option ng-repeat="item in 0|numberToArray:59">{{item}}</option>  
                </select>&nbsp;分
            </div>
        </li>
        <li> 结束时间：
            <input type="checkbox" ng-model="viewModel.isEndTime">
            <div style="display: inline-block;" ng-if="viewModel.isEndTime">
                <input readonly="readonly" style="width: 100px;" pick-a-date="viewModel.endTime" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }" class="form-control-text
                    left1 left2 iecssl" /> 
                    <select ng-model="viewModel.endHour"> 
                        <option ng-repeat="item in 0|numberToArray:23">{{item}}</option>  
                    </select>&nbsp;点 
                    <select ng-model="viewModel.endMinute"> 
                        <option ng-repeat="item in 0|numberToArray:59">{{item}}</option>  
                    </select>&nbsp;分
            </div>
        </li>
        <li>答题时间限制： 需要在 <input type="number" ng-model="viewModel.timeLimit">&nbsp;秒内完成答题(?)</li>
    </ul>

    <div class="time-window-div">问卷分享设置</div>
    <ul>
        <li> 
            用户是否可分享：<input ng-model="viewModel.isUserShare" type="checkbox">
            <span>是</span>
        </li>
    </ul>
     <div class="time-window-div">登录设置</div>
    <ul>
        <li> 
            是否匿名登录：<input ng-model="viewModel.isAllowAnonymous" type="checkbox">
            <span>是</span>
        </li>
    </ul>
      <div class="time-window-div">考试设置</div>
    <ul>
        <li> 
             是否统一发放：<input ng-model="viewModel.isShowAnswer" type="checkbox">
            <span >是</span>
        </li>
    </ul>
</div>