<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}<span style="color: red;"
                                                                                               ng-show="question.required">*</span>
        </div>
        <!--<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>-->
        <ul>
            <li ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}"
                style="float:left;">
                <label style="vertical-align:middle;padding-left:2px;">{{option.title}}</label>
                <input class="underlinestyle" type="text"
                       ng-style="{width: option.rightInputWidth + 'px'}"><span>,</span>
            </li>
        </ul>
        <div ng-value="{{question.sortNo=$index}}"></div>

    </div>

    <div class="div_ins_question"></div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a></div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'"></div>
    <div style="clear: both;"></div>
</div>

<div ng-if="question.editing">
    <div class="div_title_attr_question">

        <div class="question-config-top">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <!--<div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>-->
                </div>
            </div>
            <div class="spanLeft spanLeft-lineheight">
                <div>当前题型：<b>{{question.questionType}}</b></div>
                <div>
                    <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
						<span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                    <span ng-show="question.hasReminder"><a ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                </div>
                <div>
                    <input type="checkbox" tabindex="-1" onclick="question.optionJMP=false"
                           ng-model="question.unconditionalJMP">无条件跳题
						<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
						<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
                               ng-model="question.unconditionalJMPTo">
						<span> 题</span>
						</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                            ng-model="question.related">
                    <span>关联逻辑</span>
                    <span ng-show="question.related && question !== viewModel.questions[1]"><a
                            ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                </div>
                <div>
                    <span><a ng-click="addInput(question)">插入填空</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>

        <div class="question-config-bottom">

            <div class="clearfix config-bottom-box">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr style="background: rgb(225, 224, 224);">
                        <td style="text-align: left;">
                            <span>标题</span></td>
                        <td style="text-align: left;">分值</td>
                        <td style="text-align: left;">答案</td>
                        <td style="text-align: left;">宽度</td>
                    </tr>
                    <tr ng-repeat="option in question.options track by $index">
                        <td style="text-align: left;">
                            <input type="text" tabindex="1" title="回车添加新选项，上下键编辑前后选项" ng-model="option.title">
                        </td>
                        <td style="text-align: left;">
                            <select ng-model="option.score">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td style="text-align: left;">
                            <input type="text" class="inputtext" ng-model="option.theAnswer">&nbsp;
                            <input type="checkbox" ng-model="option.isContainsAnswer" style="vertical-align:middle;">
                            <span style="cursor:pointer;vertical-align:middle;">包含答案即可得分<span></span></span>

                        </td>
                        <td style="text-align: left;">
                            <input wf-digital opts="viewModel.opts" type="text" class="inputtext"
                                   ng-model="option.rightInputWidth">
                            <!--<select ng-model="option.rightInputWidth">
                                <option value="leftwidthten">默认</option>
                                <option value="leftwidthten">10%</option>
                                <option value="leftwidthtwenty">20%</option>
                                <option value="leftwidththirty">30%</option>
                                <option value="leftwidthforty">40%</option>
                                <option value="widthfifty">50%</option>
                                <option value="widthsixty">60%</option>
                                <option value="widthseventy">70%</option>
                                <option value="widtheighty">80%</option>
                                <option value="widthinety">90%</option>
                                <option value="widthonehundred">100%</option>
                            </select>-->
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>

        </div>


        <div class="clearfix"></div>

        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'"></div>
    </div>
</div>