<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.<span style="color: red;"
                                                                                                ng-show="question.required">*</span>
        </div>
        <div class="div_title_question">
            <span ng-bind-html="trustAsHtml(question.title)"></span>
            <span style="color: #EFA030;">（分值：{{question.score}}分）</span>
            <span class="qtypetip">[多选题]</span>
        </div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <ul class="option-box">
            <li ng-class="question.optionProportion" ng-repeat="option in question.options track by $index"
                ng-value="{{option.sortNo=$index}}">
                <a href="" class="jqCheckbox" style="position:static;"
                   ng-class="{ jqChecked: option.isDefault || option.isCorrect }"></a>
                <label ng-class="{ Correct: option.isCorrect }" style="vertical-align:middle;padding-left:2px;">{{option.title}}</label>
                <label ng-show="option.isCorrect" ng-class="{ Correct: option.isCorrect }"
                       style="vertical-align:middle;">(正确答案)</label>
				<span class="option-compile clearfix" ng-show="option.alloweFillIn">
					<span style="color: red;" ng-show="option.requiredFillIn">*</span>
				<input type="text" disabled="disabled"/>
				<span style="color: #fff;">*</span>
				</span>

                <div class="question-explain"><span ng-bind-html="trustAsHtml(option.reminder)"></span></div>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft"
             ng-show="question.unconditionalJMPTo <= viewModel.questions.length && question.unconditionalJMPTo > {{$index+1}}">
            *此题设置了跳转逻辑<span style="color:#efa030">(跳转到第{{question.unconditionalJMPTo}}题)</span></div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a></div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'"></div>
    <div style="clear: both;"></div>
</div>

<div ng-if="question.editing">
    <div class="div_title_attr_question">

        <div class="question-config-top">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>
                </div>
            </div>
            <div class="spanLeft spanLeft-lineheight">
                <div>当前题型：<b>{{question.questionType}}</b></div>
                <div>
                    <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
					<span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                    <span ng-show="question.hasReminder"><a ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                </div>
                <div>
                    <input type="checkbox" tabindex="-1" ng-model="question.unconditionalJMP">无条件跳题
					<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
						<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
                               ng-model="question.unconditionalJMPTo">
						<span> 题</span>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                            ng-model="question.related">
                    <span>关联逻辑</span>
                    <span ng-show="question.related && question !== viewModel.questions[1]"><a
                            ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>

        <div class="question-config-bottom">
            <div class="clearfix config-bottom-box">
                <div>
                    <table class="tableoption" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr style="background: rgb(225, 224, 224);">
                            <td style="text-align: left;"><span>选项文字</span></td>
                            <td><span>说明</span></td>
                            <td align="center"><span><span>正确答案</span></span></td>
                            <td align="center" style="width: 115px;"><span>操作</span></td>
                        </tr>
                        <tr ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
                            <td>
                                <input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项"
                                       ng-model="option.title" style="width: 150px;">
                            </td>
                            <td align="center">
									<span title="选项说明，支持HTML，图片，视频等" class="choiceimg design-icon design-desc"
                                          ng-class="{ 'design-descedit': option.reminder }"
                                          ng-click="editInModalUeditor(option,'reminder','编辑提示')"></span>
                            </td>
                            <td align="center">
                                <!--<span><input type="checkbox" tabindex="-1" class="checkbox"></span>-->
                                <a class="jqCheckbox" style="position:static;"
                                   ng-click="question.setCorrect(option, !option.isCorrect)"
                                   ng-class="{ jqChecked: option.isCorrect }"></a>
                            </td>
                            <td class="topic-config" align="center">
                                <span title="在此选项下面插入一个新的选项" class="glyphicon glyphicon-plus-sign"
                                      style="cursor: pointer;" ng-click="question.addOption($index)"></span>
                                <span title="删除当前选项（最少保留2个选项）" class="glyphicon glyphicon-minus-sign"
                                      style="cursor: pointer;" ng-click="question.remove(option)"></span>
                                <span title="将当前选项上移一个位置" class="glyphicon glyphicon-circle-arrow-up"
                                      style="cursor: pointer;" ng-click="question.moveUp(option)"></span>
                                <span title="将当前选项下移一个位置" class="glyphicon glyphicon-circle-arrow-down"
                                      style="cursor: pointer;" ng-click="question.moveDown(option)"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="divclear"></div>

            <div style="margin: 12px 0px 5px;">
                <div class="add-button-box">
					<span class="spanLeft"> 
						<a href="javascript:" class="link-U00a6e6" style="text-decoration:none;"
                           ng-click="question.addOption()">
                            <span class="glyphicon glyphicon-plus-sign"></span><b>添加选项</b>
                        </a>
					</span>
					<span class="spanRight">
						<span style="display: inline-block;">
							<select ng-model="question.optionProportion">
                                <option value="arrangeOne">竖向排列</option>
                                <optgroup label="横向排列">
                                    <option value="arrangeTwo">每行2列</option>
                                    <option value="arrangeThree">每行3列</option>
                                    <option value="arrangeFour">每行4列</option>
                                    <option value="arrangeFive">每行5列</option>
                                    <option value="arrangeSix">每行6列</option>
                                    <option value="arrangeSeven">每行7列</option>
                                    <option value="arrangeEight">每行8列</option>
                                </optgroup>
                            </select>
						</span>
					</span>

                    <div class="divclear"></div>
                </div>
                <div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
                <div style="display: none; margin: 10px 0px;"></div>
                <div style="margin-top: 15px;">
					<span><b>题目分数：</b>
						<input wf-digital opts="opts" ng-model="question.score" type="text" class="inputtext"
                               maxlength="5" title="在此可以设置每个选项的分数（请输入整数）" style="width: 42px;">
					</span>
                </div>
            </div>
        </div>
        <div style="clear: both; line-height: 1px;"></div>

        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'"></div>
    </div>
</div>