<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.<span style="color: red;"
                                                                                                ng-show="question.required">*</span>
        </div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <ul class="div_radio_box" ng-class="question.titleAllWidth">
            <li ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
                <span ng-class="question.titleWidth">{{option.title}}</span>
				<textarea ng-model="option.answerOption" ng-class="option.rightInputWidth"
                          class="inputtext oneline textareaborder"
                          ng-change="question.gapFillingSkip(viewAnswer.questions,option.answerOption,option)">
				</textarea>
                <span ng-show="option.rightTitle" ng-class="question.rightTitleWidth">{{option.rightTitle}}</span>
            </li>
        </ul>
        <div class="div_table_clear_bottom"></div>
    </div>

    <div class="div_ins_question"></div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>

    <div ng-if="question.editing">
        <div class="div_title_attr_question">

            <div class="question-config-top">
                <div class="spanLeft">
                    <div class="headline-nav">
                        <b style="font-size:14px;">标题</b>

                        <div class="divclear"></div>
                    </div>
                    <div style="width: 470px;">
                        <div>
                            <div class="ueditor ueditor-box" ng-model="question.title"></div>
                        </div>
                    </div>
                </div>
                <div class="spanLeft spanLeft-lineheight">
                    <div>当前题型：<b>{{question.questionType}}</b></div>
                    <div>
                        <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
					<span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                    </div>
                    <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                        <span ng-show="question.hasReminder"><a
                                ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                    </div>
                    <div>
                        <input type="checkbox" tabindex="-1" onclick="question.optionJMP=false"
                               ng-model="question.unconditionalJMP">无条件跳题
					<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
						<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
                               ng-model="question.unconditionalJMPTo">
						<span> 题</span>
					</span>
                    </div>
                    <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                                ng-model="question.related">
                        <span>关联逻辑</span>
                        <span ng-show="question.related && question !== viewModel.questions[1]"><a
                                ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>

            <div class="question-config-bottom">
                <div class="clearfix config-bottom-box">
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr style="background: rgb(225, 224, 224);">
                            <td style="text-align: left;">
                                <span>左行标题</span></td>
                            <td style="text-align: left;">验证</td>
                            <td style="text-align: left;">最小数字</td>
                            <td style="text-align: left;">最大数字</td>
                            <td style="text-align: left;">宽度</td>
                            <td style="text-align: left;">
                                <input type="checkbox" ng-model="question.optionJMP">
                                <span>右行标题</span></td>
                        </tr>
                        <tr ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
                            <td>
                                <input type="text" tabindex="1" title="回车添加新选项，上下键编辑前后选项" ng-model="option.title">
                            </td>
                            <td>
                                <select ng-model="option.validate">
                                    <option value="0">无</option>
                                    <option value="数字">整数</option>
                                    <option value="小数">小数</option>
                                    <option value="日期">日期</option>
                                    <option value="手机">手机</option>
                                    <option value="固话">固话</option>
                                    <option value="电话">手机或固话</option>
                                    <option value="Email">邮件</option>
                                    <option value="城市单选">省份城市</option>
                                    <option value="省市区">省市区</option>
                                    <option value="高校">高校</option>
                                    <option value="地图">地图</option>
                                    <option value="网址">网址</option>
                                    <option value="身份证号">身份证号</option>
                                    <option value="学号">学号</option>
                                    <option value="QQ">QQ</option>
                                    <option value="汉字">汉字</option>
                                    <option value="姓名">中文姓名</option>
                                    <option value="英文">英文</option>
                                </select>
                            </td>
                            <td>
                                <span>最小数字：</span>
                                <input wf-digital opts="viewModel.opts" ng-model="option.minNumber" type="text"
                                       class="inputtext" title="不填表示无限制" style="width: 40px;">
                            </td>
                            <td>
                                <span style="margin-left: 10px;">最大数字：</span>
                                <input wf-digital opts="viewModel.opts" ng-model="option.maxNumber" type="text"
                                       class="inputtext" title="不填表示无限制" style="width: 40px;">
                            </td>
                            <td>
                                <select ng-model="option.rightInputWidth">
                                    <option value="leftwidthtwenty">默认</option>
                                    <option value="leftwidthten">10%</option>
                                    <option value="leftwidthtwenty">20%</option>
                                    <option value="leftwidththirty">30%</option>
                                    <option value="leftwidthforty">40%</option>
                                    <option value="widthfifty">50%</option>
                                    <option value="widthsixty">60%</option>
                                    <option value="widthseventy">70%</option>
                                    <option value="widtheighty">80%</option>
                                    <option value="widthinety">90%</option>
                                    <option value="widthonehundred">100%</option>
                                </select>
                            </td>
                            <td style="min-width:141px;">
                                <input ng-show="question.optionJMP" type="text" tabindex="1"
                                       ng-model="option.rightTitle">
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>

                <div style="margin: 12px 0px 5px;">
                    <div class="add-button-box">
					<span class="spanLeft">
						<a href="javascript:" class="link-U00a6e6" style="text-decoration:none;"
                           ng-click="question.addOption()">
                            <span class="glyphicon glyphicon-plus-sign"></span><b>添加选项</b>
                        </a>
					</span>

                        <div class="divclear"></div>
                    </div>
                    <div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
                    <div style="display: none; margin: 10px 0px;"></div>
                </div>
            </div>
            <div style="margin: 10px 0px;"><span>题目总宽度：
                <select ng-model="question.titleAllWidth">
                    <option value="widthonehundred">默认</option>
                    <option value="widthfifty">50%</option>
                    <option value="widthsixty">60%</option>
                    <option value="widthseventy">70%</option>
                    <option value="widtheighty">80%</option>
                    <option value="widthinety">90%</option>
                    <option value="widthonehundred">100%</option>
                    <option value="自定义">自定义</option>
                </select>&nbsp;</span>
                <span ng-show="question.showline">
                    <input type="text" class="inputtext" maxlength="3" style="width: 30px;">行</span>
                <span>&nbsp;&nbsp;左行标题宽度：
                                        <select ng-model="question.titleWidth">
                                            <option value="leftwidththirty">默认</option>
                                            <option value="leftwidthten">10%</option>
                                            <option value="leftwidthfifteen">15%</option>
                                            <option value="leftwidthtwenty">20%</option>
                                            <option value="leftwidththirty">30%</option>
                                            <option value="leftwidthforty">40%</option>
                                            <option value="leftwidthfifty">50%</option>
                                            <option value="自定义">自定义</option>
                                        </select>&nbsp;</span>
				<span ng-show="question.optionJMP">&nbsp;&nbsp;右行标题宽度：
                                        <select ng-model="question.rightTitleWidth">
                                            <option value="leftwidththirty">默认</option>
                                            <option value="leftwidthten">10%</option>
                                            <option value="leftwidthfifteen">15%</option>
                                            <option value="leftwidthtwenty">20%</option>
                                            <option value="leftwidththirty">30%</option>
                                            <option value="leftwidthforty">40%</option>
                                            <option value="leftwidthfifty">50%</option>
                                            <option value="自定义">自定义</option>
                                        </select>&nbsp;</span>
                <input type="text" class="inputtext" maxlength="3" style="width: 50px; display: none;"><span>&nbsp;&nbsp;
                </span>
            </div>

            <div class="clearfix"></div>

            <div class="attr_question_box" style="margin: 15px 10px;"
                 ng-include="'./views/design/share/finish-button.html'"></div>
        </div>
    </div>