<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.
            <span style="color: red;" ng-show="question.required">*</span>
        </div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question clearfix">
        <div class="div_table_clear_top clearfix"></div>
        <div>
            <div style="width: 200px;height: 30px; background:#fff; text-align: center; line-height: 30px; overflow: hidden;border:1px solid #d5d5d5;color:#333;margin-bottom:5px;">
                选择文件（不超过{{question.fileMax}}KB）
            </div>
        </div>
        <ul>
            <li>请选择上传文件，扩展名为:</li>
            <li>{{question.exDetails}}</li>
        </ul>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft"
             ng-show="question.unconditionalJMPTo <= viewModel.questions.length && question.unconditionalJMPTo > {{$index+1}}">
            *此题设置了跳转逻辑
            <span style="color:#efa030">(跳转到第{{question.unconditionalJMPTo}}题)</span>
        </div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a></div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>

<div ng-if="question.editing">
    <div class="div_title_attr_question">

        <div class="question-config-top">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>
                </div>
            </div>
            <div class="spanLeft spanLeft-lineheight">
                <div>当前题型：<b>{{question.questionType}}</b></div>
                <div>
                    <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
        <span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                    <span ng-show="question.hasReminder"><a ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                </div>
                <div>
                    <input type="checkbox" tabindex="-1" onclick="question.optionJMP=false"
                           ng-model="question.unconditionalJMP">无条件跳题
<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
       ng-model="question.unconditionalJMPTo">
<span> 题</span>
</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                            ng-model="question.related">
                    <span>关联逻辑</span>
                    <span ng-show="question.related && question !== viewModel.questions[1]"><a
                            ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="clearfix"></div>

        <div style="margin-left: 8px;" ng-repeat="option in question.options track by $index"
             ng-value="{{option.sortNo=$index}}">
            <div style="margin: 10px 0px;color: #6a6a6a;">
                <ul class="li-float-left clearfix">
                    <li>上传文件允许的最大文件大小(KB)：</li>
                    <li>
                        <input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 80px;"
                               ng-model="option.fileMax"></li>
                    <li>不能超过{{option.fileMax}}KB</li>
                </ul>
                <span ng-init="option.pictureExtension=pictureExtensions"></span>
                <span ng-value="question.exDetails=option.extensionDetail"></span>
                <ul>
                    <li>上传文件允许的扩展名：</li>
                    <li>
                        <ul class="li-float-left li-float-margin clearfix">
                            <ul ng-repeat="extension in option.pictureExtension track by $index"
                                class="li-float-left li-float-margin clearfix">
                                <li><b>{{extension.name}}：</b></li>
                                <li><input type="checkbox" value="" ng-model="extension.allChecked"
                                           ng-change="question.allOption(extension.allChecked,extension.values,option)">全选
                                </li>
                                <li ng-repeat="item in extension.values">
                                    <span ng-init="extensi=(item|extensionsOperator:option.extensionDetail)"></span>
                                    <input type="checkbox" ng-model="extensi" ng-checked="extension.allChecked"
                                           ng-click="question.optionSelect(item,extensi)">{{item}}
                                </li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>