<div class="div_preview">
    <div>
        <span class="div_topic_page_question">
            <span style="font-size:14px; font-weight:bold;">{{question|pageNoFilter:viewModel.questions}}</span>
        </span>
        <span style="display: none;"><b style="color:red;">--甄别页</b></span><span></span>

        <div class="answer-explain-box">
            <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
            <div ng-value="{{question.sortNo=$index}}"></div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="height: 18px;"></div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a></div>
    <!--题目设置-->
    <div class="spanRight topic-config-box">
        <ul class="stuff">
            <li style="border: 1px solid #f17819;" ng-show="!question.editing" ng-click="viewModel.beginEdit(question)">
                <a><span class="design-icon design-edit"></span><span style="color: #f17819;">编辑</span></a>
            </li>
            <li style="border: 1px solid #f17819;" ng-show="question.editing" ng-click="viewModel.endEdit(question)">
                <a><span style="color: #f17819;" class="glyphicon glyphicon-ok"></span><span
                        style="color: #f17819;">完成</span></a>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
    <!--<div ng-repeat="qu in viewModel.questions" ng-if="$index!==0 && qu.questionType==='分页'">
        <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'"></div>
    </div>-->
    <div style="clear: both;"></div>
</div>

<div ng-if="question.editing">
    <div class="div_title_attr_question">

        <div class="question-config-top clearfix" style="height: 123px;">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div style="margin-left: 8px;">
            <span title="可以在此页设置筛选规则，如果用户提交的答卷不符合要求，则会终止后面的答题" style="display: none;">此页是否是甄别页：</span>
            <input type="checkbox" tabindex="-1" title="可以在此页设置筛选规则，如果用户提交的答卷不符合要求，则会终止后面的答题" style="display: none;">
            <i class="design-icon design-qmark" style="display: none;"></i>
        </div>-->
        <div class="clearfix"></div>

        <div style="margin: 10px 0px 0px 15px;">
            <span><b>填写时间控制</b></span>
            <span>此页允许停留时间为：
                <b>最短</b><input wf-digital opts="viewModel.opts" ng-model="question.standingMinTime" type="text"
                                class="inputtext" style="width: 30px;">
            </span>
            <span>秒&nbsp;&nbsp;&nbsp;
                <b>最长</b><input wf-digital opts="viewModel.opts" ng-model="question.standingMaxTime" type="text"
                                class="inputtext" style="width: 30px;">
            </span>
            <span>秒（空表示不限制）</span>

            <!--<div style="margin: 6px 0px 0px 86px; display: none;">将上面的填写时间复制到
                <span>
                    <input type="radio" name="rbltimesp" checked="checked">所有页
                    <input type="radio" name="rbltimesp">：第
                    <input type="text" value="1" onblur="cur.setTimePageStart(this);" style="width:20px;">页到
                    <input type="text" value="2" onblur="cur.setTimePageEnd(this);" style="width:20px;">页
                </span>
                <span><input  type="button" value="复制" class="finish cancle"></span>
            </div>-->
        </div>
        <div style="clear: both; line-height: 1px;"></div>

        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'"></div>
    </div>
</div>