<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.</div>
        <div class="div_title_question"><span>姓名：<input style="width:63px;" class="underline">&nbsp;&nbsp;&nbsp;&nbsp;年龄：<input
                style="width:21px;" class="underline">岁<div style="margin-top:8px;"></div>电话：<input
                style="width:84px;" class="underline"></span>
            <span style="color: red;">&nbsp;*</span>
        </div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
    </div>
    <div class="div_ins_question"></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
    <div class="div_title_attr_question">
        <div style="margin-left: 8px;">
            <div class="spanLeft">
                <div style="width: 395px;">
                    <div>
                        <table cellpadding="0" cellspacing="0" border="0" class="ke-container"
                               style="width: 395px; height: 102px;">
                            <tbody>
                            <tr>
                                <td class="ke-toolbar-outer">
                                    <table cellpadding="0" cellspacing="0" border="0" class="ke-toolbar"
                                           style="height: 24px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0"
                                                       class="ke-toolbar-table">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="字体"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-fontname"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="文字大小"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-fontsize"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="文字颜色"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-textcolor"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="文字背景"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-bgcolor"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="粗体(Ctrl+B)"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-bold"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="斜体(Ctrl+I)"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-italic"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="下划线(Ctrl+U)"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-underline"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="插入表情"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-emoticons"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="超级链接"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-link"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="图片"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-image"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="插入视频"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-flash"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="下标"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-subscript"></span></a>
                                                        </td>
                                                        <td>
                                                            <a tabindex="-1" class="ke-icon" title="上标"><span
                                                                    class="ke-common-icon ke-common-icon-url ke-icon-superscript"></span></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="ke-textarea-outer">
                                    <table cellpadding="0" cellspacing="0" border="0" class="ke-textarea-table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <iframe tabindex="1" class="ke-iframe" frameborder="0"
                                                        style="height: 67px;"></iframe>
                                                <textarea tabindex="1" class="ke-textarea"
                                                          style="display: none; height: 67px;"></textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="ke-bottom-outer">
                                    <table class="ke-bottom" cellpadding="0" cellspacing="0" border="0"
                                           style="height: 11px;">
                                        <tbody>
                                        <tr>
                                            <td class="ke-bottom-left"><span class="ke-bottom-left-img"></span></td>
                                            <td class="ke-bottom-right" style="cursor: s-resize;">
                                                <span class="ke-bottom-right-img" style="visibility: hidden;"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table><textarea wrap="soft" rows="4" class="inputtext" tabindex="1" title="例如：您最喜欢的车型？"
                                          id="tcgapfill2"
                                          style="width: 395px; height: 102px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(221, 221, 221); display: none;"></textarea>
                    </div>
                </div>
            </div>
            <div class="spanLeft">
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题">必答题<span
                        style="display: none;">&nbsp;&nbsp;&nbsp;&nbsp;将所有题目设为：<b><a
                        href="javascript:setAllRequired(true);" class="link-U00a6e6">必答</a></b>&nbsp;<a
                        href="javascript:setAllRequired(false);" class="link-U00a6e6"><b>非必答</b></a></span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">填写提示<span style="display: none;">&nbsp;<input
                        type="text" class="inputtext"
                        style="width: 140px;"><span>&nbsp;</span>
                    <a href="javascript:">高级编辑模式</a>
                    </span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">无条件跳题<span
                        style="display: none;"><span>，填写此题后跳转到第</span>
                    <input type="text" class="inputtext" style="width: 30px;"><span>题</span></span>
                    <i class="design-icon design-qmark"></i>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span><b>关联逻辑</b></span><span
                        style="display: none;"><a ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span><span><i
                        class="design-icon design-qmark"></i></span>
                    <span style="display: none;">&nbsp;&nbsp;<a href="" class="link-U00a6e6">复制到后面的题目</a></span>
                </div>
                <div style="margin-left: 8px;"><input type="checkbox" tabindex="-1"><span>文本框样式&nbsp;&nbsp;</span><a
                        class="link-U00a6e6" href="javascript:void(0);"
                        title="填空用连续超过三个的下划线'_ _ _'表示"><b>插入填空</b></a>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-left: 8px;">
            <div style="margin: 10px 0px;"></div>
        </div>
        <div style="margin: 15px 0px 15px 15px;"><a href="javascript:" class="sumitbutton cancle">填空属性</a>
        </div>
        <div style="clear: both; line-height: 1px;">&nbsp;</div>
        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>