<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.<span style="color: red;"
                                                                                                ng-show="question.required">*</span>
        </div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <ul class="option-box">
            <li ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
                <label style="vertical-align:middle;padding-left:2px;"
                       ng-show="$index==0"><b>{{option.title}}</b></label>
				<span style="width:36px;display:inline-block" ng-show="question.likertPattern === 'likertPatternNo'">
					<a class="jqRadio" style="position:static;" ng-class="{ 'jqChecked': option.isDefault }"></a>
					<span ng-show="!option.noRecord">{{option.score}}</span>
				</span>
				<span ng-show="question.likertPattern === 'likertPatternBox'">
                    <span ng-init="option.score=$index+1"></span>
					<span class="pattern-boxs {{option.class}}" ng-show="!option.noRecord">{{option.score}}</span>
				</span>
				<span ng-show="question.likertPattern === 'likertPatternStar'"> 
					<span class="pattern-stars {{option.class}}" ng-show="!option.noRecord"></span>
				</span>
                <label style="vertical-align:middle;padding-left:2px;" ng-show="$index==question.options.length-1"><b>{{option.title}}</b></label>
                <span style="color:#efa030;font-size:14px;"
                      ng-show="option.optionJMPTo <= viewModel.questions.length && (option.optionJMPTo > {{question|questionNoFilter:viewModel.questions}})">(跳转到第{{option.optionJMPTo}}题)</span>
                <span style="color:#efa030;font-size:14px;" ng-show="question.optionJMP && (option.optionJMPTo == 0)">(跳转到下一题)</span>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft"
             ng-show="question.unconditionalJMPTo <= viewModel.questions.length && question.unconditionalJMPTo > {{$index+1}}">
            *此题设置了跳转逻辑<span style="color:#efa030">(跳转到第{{question.unconditionalJMPTo}}题)</span></div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a></div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'"></div>
    <div style="clear: both;"></div>
</div>

<div ng-if="question.editing">
    <div class="div_title_attr_question">

        <div class="question-config-top">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>
                </div>
            </div>
            <div class="spanLeft spanLeft-lineheight">
                <div>当前题型：<b>{{question.questionType}}</b></div>
                <div>
                    <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
					<span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                    <span ng-show="question.hasReminder"><a ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                </div>
                <div>
                    <input type="checkbox" tabindex="-1" ng-click="question.optionJMP=false"
                           ng-model="question.unconditionalJMP">无条件跳题
					<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
					<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
                           ng-model="question.unconditionalJMPTo">
					<span> 题</span>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                            ng-model="question.related">
                    <span>关联逻辑</span>
                    <span ng-show="question.related && question !== viewModel.questions[1]"><a
                            ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>

        <div class="question-config-bottom">
            <div class="clearfix config-bottom-box">
                <div>
                    <table class="tableoption" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr style="background: rgb(225, 224, 224);">
                            <td style="text-align: left;"><span>选项文字</span></td>
                            <td>
                                <span style="cursor: pointer;"><b>分数</b></span>
                            </td>
                            <td>
									<span>
										<input type="checkbox" tabindex="-1" ng-click="question.unconditionalJMP=false"
                                               ng-model="question.optionJMP">
										<span style="cursor: pointer;">跳题</span>
									</span>
                            </td>
                            <td align="center" style="width: 115px;"><span>操作</span></td>
                        </tr>
                        <tr ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
                            <td>
                                <input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项"
                                       ng-model="option.title" style="width: 150px;">
                            </td>
                            <td align="left">
									<span>
                                        <input wf-digital opts="opts" ng-disabled="option.noRecord"
                                               ng-model="option.score" type="text" class="inputtext" maxlength="5"
                                               title="在此可以设置每个选项的分数（请输入整数）" style="width: 42px;">
                                    </span>
                                <!--<input ng-model="option.noRecord" type="checkbox" tabindex="-1" title="不记分" class="checkbox"><span style="font-size: 11px;">不记分</span>-->
                                <a class="jqCheckbox" style="position:static;"
                                   ng-click="question.setRecord(option, !option.noRecord)"
                                   ng-class="{ jqChecked: option.noRecord }"></a>
                            </td>
                            <td align="left">
									<span ng-show="question.optionJMP">
										<input wf-digital opts="opts" type="text" class="inputtext" maxlength="4"
                                               style="width: 40px; height: 20px;" ng-model="option.optionJMPTo">
									</span>
                            </td>
                            <td class="topic-config" align="center">
                                <span title="在此选项下面插入一个新的选项" class="glyphicon glyphicon-plus-sign"
                                      style="cursor: pointer;" ng-click="question.addOption($index)"></span>
                                <span title="删除当前选项（最少保留2个选项）" class="glyphicon glyphicon-minus-sign"
                                      style="cursor: pointer;" ng-click="question.remove(option)"></span>
                                <span title="将当前选项上移一个位置" class="glyphicon glyphicon-circle-arrow-up"
                                      style="cursor: pointer;" ng-click="question.moveUp(option)"></span>
                                <span title="将当前选项下移一个位置" class="glyphicon glyphicon-circle-arrow-down"
                                      style="cursor: pointer;" ng-click="question.moveDown(option)"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>

            <div style="margin: 12px 0px 5px;">
                <div class="add-button-box">
					<span class="spanLeft">
						<a href="javascript:" class="link-U00a6e6" style="text-decoration:none;"
                           ng-click="question.addOption()">
                            <span class="glyphicon glyphicon-plus-sign"></span><b>添加选项</b>
                        </a>
					</span>
					<span class="spanRight">
						<ul class="likertImageTypeList" style="display:inline;margin:0;">
                            <li>&nbsp;&nbsp;<b>样式：</b></li>
                            <li style="font-size:16px;"><a ng-click="question.likertPattern = 'likertPatternNo'"
                                                           style="height:24px;line-height:24px;"><b>123</b></a></li>
                            <li style="font-size:16px;"><a ng-click="question.likertPattern = 'likertPatternBox'"
                                                           style="height:24px;line-height:24px;"><span
                                    class="likert-pattern-box"></span></a></li>
                            <li style="font-size:16px;"><a ng-click="question.likertPattern = 'likertPatternStar'"
                                                           style="height:24px;line-height:24px;"><span
                                    class="likert-pattern-star"></span></a></li>
                        </ul>
					</span>

                    <div class="divclear"></div>
                </div>
                <div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
                <div style="display: none; margin: 10px 0px;"></div>
            </div>
        </div>
        <div style="clear: both; line-height: 1px;"></div>

        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'"></div>
    </div>
</div>