<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.</div>
        <div class="div_title_question"><span>您的地理位置:</span><span style="color: red; display: none;">&nbsp;*</span><span
                class="font-a0" style="display: none;"></span>
        </div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <textarea wrap="soft" rows="1" class="inputtext" style="width: 400px; height: 22px; overflow: auto;"></textarea><span>&nbsp;
                                          <span class="location-background-img"></span></span><span
            style="display: none;"></span>

        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
    <div class="div_title_attr_question">
        <div style="margin-left: 8px;">
            <div class="spanLeft">
                <div style="background: rgb(226, 224, 225); height: 27px; line-height: 27px; width: 395px;">
                    <span style="float:left;">&nbsp;<b style="font-size:14px;">标题</b>&nbsp;<a
                            href="javascript:"
                            onmouseout="sb_setmenunav(toolTipLayer,false);" class="link-U666"
                            title="引用前面题目的答案">引用</a></span>
                    <span class="spanRight" style="padding-right: 5px;"><a class="link-U666">设置标题字体、插入图片视频</a></span>

                    <div class="divclear"></div>
                </div>
                <div style="width: 395px;">
                    <div><textarea wrap="soft" rows="4" class="inputtext" tabindex="1" title="例如：您最喜欢的车型？"
                                   id="tcquestion6"
                                   style="width: 388px; height: 70px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(221, 221, 221);"></textarea>
                    </div>
                </div>
            </div>
            <div class="spanLeft">
                <div>&nbsp;&nbsp;当前题型：<b>文本题</b>&nbsp;&nbsp;<select style="width:90px;"
                                                                    onchange="javascript:cur.selChangeType(this.value);">
                    <option value="0">转换题型</option>
                    <option value="radio">列表单选题</option>
                    <option value="radio_down">下拉框单选题</option>
                    <option value="check">多选题</option>
                    <option value="likert">量表题</option>
                    <option value="order">排序题</option>
                </select></div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题">必答题<span
                        style="display: none;">&nbsp;&nbsp;&nbsp;&nbsp;将所有题目设为：<b><a
                        href="javascript:setAllRequired(true);" class="link-U00a6e6">必答</a></b>&nbsp;<a
                        href="javascript:setAllRequired(false);" class="link-U00a6e6"><b>非必答</b></a></span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">填写提示<span style="display: none;">&nbsp;<input
                        type="text" class="inputtext"
                        style="width: 140px;"><span>&nbsp;</span>
                    <a href="javascript:">高级编辑模式</a>
                    </span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">无条件跳题<span
                        style="display: none;"><span>，填写此题后跳转到第</span>
                    <input type="text" class="inputtext" style="width: 30px;"><span>题</span></span>
                    <i class="design-icon design-qmark"></i>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span><b>关联逻辑</b></span><span
                        style="display: none;"><a ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span><span><i
                        class="design-icon design-qmark"></i></span><span style="display: none;">&nbsp;&nbsp;<a
                        href="" class="link-U00a6e6">复制到后面的题目</a></span></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-left: 8px;">
            <div style="margin: 10px 0px;"><span>高度：<select onchange="cur.setTHeight(this);">
                <option value="1">1行</option>
                <option value="2">2行</option>
                <option value="3">3行</option>
                <option value="4">4行</option>
                <option value="5">5行</option>
                <option value="10">10行</option>
                <option value="自定义">自定义</option>
            </select>&nbsp;</span><span style="display: none;"><input type="text" class="inputtext"
                                                                      maxlength="3"
                                                                      style="width: 30px;">行</span><span>&nbsp;&nbsp;宽度：<select
                    onchange="cur.setTWidth(this);">
                <option value="">默认</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="自定义">自定义</option>
            </select>&nbsp;</span><input type="text" class="inputtext" maxlength="3"
                                         style="width: 50px; display: none;"><span>&nbsp;&nbsp;<input
                    type="checkbox" tabindex="-1">下划线样式</span><span>&nbsp;&nbsp;<input
                    type="checkbox" tabindex="-1"><span>默认值</span><textarea wrap="soft" rows="1" class="inputtext"
                                                                            style="width: 180px; overflow: auto; display: none; vertical-align: middle;"></textarea></span>
            </div>
            <div><span>验证：<select onchange="cur.setVerify(this);">
                <option value="0">无</option>
                <option value="数字">整数</option>
                <option value="小数">小数</option>
                <option value="日期">日期</option>
                <option value="手机">手机</option>
                <option value="固话">固话</option>
                <option value="电话">手机或固话</option>
                <option value="Email">邮件</option>
                <option value="城市单选">省份城市</option>
                <option value="省市区">省市区</option>
                <option value="高校">高校</option>
                <option value="地图">地图</option>
                <option value="网址">网址</option>
                <option value="身份证号">身份证号</option>
                <option value="学号">学号</option>
                <option value="QQ">QQ</option>
                <option value="汉字">汉字</option>
                <option value="姓名">中文姓名</option>
                <option value="英文">英文</option>
            </select></span><span style="display: none;">&nbsp;<span>最小字数：</span><input type="text" class="inputtext"
                                                                                        title="不填表示无限制"
                                                                                        style="width: 40px;"><span
                    style="margin-left: 10px;">最大字数：</span>
                <input type="text" class="inputtext" title="不填表示无限制"
                       style="width: 40px;"></span><span>&nbsp;&nbsp;<input
                    type="checkbox" tabindex="-1"
                    title="要求每个人填写的答案是唯一的"><span>不允许重复&nbsp;</span></span><span
                    style="display: none;">&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span>使用短信验证&nbsp;&nbsp;短信余额：<span
                    style="color:red;">0</span>，<a href="/corphome/account/prepaysms.aspx?amount=500"
                                                   target="_blank" class="titlelnk">购买</a></span>
                </span>
            </div>
        </div>
        <div style="clear: both; line-height: 1px;">&nbsp;</div>
        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>