<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.<span style="color: red;"
                                                                                                ng-show="question.required">*</span>
        </div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <textarea readonly="readonly" class="textareaborder" ng-repeat="option in question.options track by $index"
                  ng-value="{{option.sortNo=$index}}"
                  ng-bind-html="trustAsHtml(option.defaultContent)|| trustAsHtml('')"
                  ng-class="[option.optionProportionHeight,option.optionProportionWidth,option.underlineStyle]"
                  wrap="soft" rows="1" class="inputtext"></textarea>
        <span style="display: none;"></span><span style="display: none;"></span>

        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"></div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
    <div class="div_title_attr_question">
        <div class="question-config-top">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>
                </div>
            </div>
            <div class="spanLeft spanLeft-lineheight">
                <div>当前题型：<b>{{question.questionType}}</b></div>
                <div>
                    <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
					<span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                    <span ng-show="question.hasReminder"><a ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                </div>
                <div>
                    <input type="checkbox" tabindex="-1" onclick="question.optionJMP=false"
                           ng-model="question.unconditionalJMP">无条件跳题
					<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
						<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
                               ng-model="question.unconditionalJMPTo">
						<span> 题</span>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                            ng-model="question.related">
                    <span>关联逻辑</span>
                    <span ng-show="question.related && question !== viewModel.questions[1]"><a
                            ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-left: 8px;">
            <div style="margin: 10px 0px;"><span>高度：
                <select ng-repeat="option in question.options track by $index" ng-model="option.optionProportionHeight">
                    <option value="oneline">1行</option>
                    <option value="twoline">2行</option>
                    <option value="threeline">3行</option>
                    <option value="fourline">4行</option>
                    <option value="fiveline">5行</option>
                    <option value="tenline">10行</option>
                    <option ng-model="question.showline" value="showline" ng-click="">自定义</option>
                </select>&nbsp;</span>
                <span ng-show="question.showline">
                    <input type="text" class="inputtext" maxlength="3" style="width: 30px;">行</span>
                <span>&nbsp;&nbsp;宽度：
                                        <select ng-repeat="option in question.options track by $index"
                                                ng-model="option.optionProportionWidth">
                                            <option value="defaultwidth">默认</option>
                                            <option value="defaultwidthfifty">50</option>
                                            <option value="defaultwidthOne-hundred">100</option>
                                            <option value="defaultwidthTwo-hundred">200</option>
                                            <option value="defaultwidthThree-hundred">300</option>
                                            <option value="defaultwidthFour-hundred">400</option>
                                            <option value="defaultwidthFive-hundred">500</option>
                                            <option value="defaultwidthSix-hundred">600</option>
                                            <option value="自定义">自定义</option>
                                        </select>&nbsp;</span>
                <input ng-repeat="option in question.options track by $index" ng-model="option.isDefauleUnderLinestyle"
                       type="text" class="inputtext" maxlength="3" style="width: 50px; display: none;"><span>&nbsp;&nbsp;
                <input ng-repeat="option in question.options track by $index" ng-model="option.underlineStyle"
                       ng-true-value="underlinestyle" ng-false-value="inputtext" type="checkbox"
                       tabindex="-1">下划线样式</span><span>&nbsp;&nbsp;
               
                <input ng-repeat="option in question.options track by $index" ng-model="option.isDefauleValue"
                       type="checkbox" tabindex="-1"><span>默认值</span>
                <textarea ng-repeat="option in question.options track by $index" ng-show="option.isDefauleValue"
                          ng-model="option.defaultContent" wrap="soft" rows="1" class="inputtext"
                          style="width: 180px; overflow: auto; vertical-align: middle;"></textarea>
                </span>
            </div>
        </div>
        <div style="clear: both; line-height: 1px;">&nbsp;</div>
        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>