<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewModel.questions}}.<span style="color: red;"
                                                                                                ng-show="question.required">*</span>
        </div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <span class="spanLeft" style="color: red;">{{question.minValueShow}}</span><span class="spanLeft"
                                                                                         style="color: red;">({{question.minValue}})</span>
        <span class="spanRight" style="color: red;">({{question.maxValue}})</span><span class="spanRight"
                                                                                        style="color: red;">{{question.maxValueShow}}</span>

        <div class="divclear"></div>
        <div class="imageSlider" style="width:60%;margin-bottom: 10px;">
            <div title="拖动或点击滑动条" id="divSlider10_0_bar" class="imageBar1"></div>
        </div>
        <div class="divclear"></div>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder"
                                        ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft"
             ng-show="question.unconditionalJMPTo <= viewModel.questions.length && question.unconditionalJMPTo > {{$index+1}}">
            *此题设置了跳转逻辑<span style="color:#efa030">(跳转到第{{question.unconditionalJMPTo}}题)</span></div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>

<div ng-if="question.editing">
    <div class="div_title_attr_question">

        <div class="question-config-top">
            <div class="spanLeft">
                <div class="headline-nav">
                    <b style="font-size:14px;">标题</b>

                    <div class="divclear"></div>
                </div>
                <div style="width: 470px;">
                    <div>
                        <div class="ueditor ueditor-box" ng-model="question.title"></div>
                    </div>
                </div>
            </div>
            <div class="spanLeft spanLeft-lineheight">
                <div>当前题型：<b>{{question.questionType}}</b></div>
                <div>
                    <input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题" ng-model="question.required">必答题
					<span>将所有题目设为：
						<b><a ng-click="viewModel.setAllRequired(true)" class="link-U00a6e6">必答</a></b>
						<b><a ng-click="viewModel.setAllRequired(false)" class="link-U00a6e6">非必答</a></b>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-model="question.hasReminder">填写提示
                    <span ng-show="question.hasReminder"><a ng-click="editInModalUeditor(question,'reminder','编辑提示')">编辑提示</a></span>
                </div>
                <div>
                    <input type="checkbox" tabindex="-1" onclick="question.optionJMP=false"
                           ng-model="question.unconditionalJMP">无条件跳题
					<span ng-show="question.unconditionalJMP">
						<span>，填写此题后跳转到第</span>
						<input wf-digital opts="viewModel.opts" type="text" class="inputtext" style="width: 30px;"
                               ng-model="question.unconditionalJMPTo">
						<span> 题</span>
					</span>
                </div>
                <div><input type="checkbox" tabindex="-1" ng-disabled="question === viewModel.questions[1]"
                            ng-model="question.related">
                    <span>关联逻辑</span>
                    <span ng-show="question.related && question !== viewModel.questions[1]"><a
                            ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="clearfix"></div>

        <div class="question-config-bottom">
            <div style="margin: 10px 0px;">
                <span>最小值：</span><input wf-digital opts="viewModel.opts" ng-model="question.minValue" type="text"
                                        class="inputtext" title="用户可以选择的最小值" style="width: 30px; height: 20px;">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;最小值显示文本：</span><input ng-model="question.minValueShow" type="text"
                                                                    class="inputtext"
                                                                    style="width: 100px; height: 20px;"><br>

                <div style="height: 6px;"></div>
                <span>最大值：</span><input wf-digital opts="viewModel.opts" ng-model="question.maxValue" type="text"
                                        class="inputtext" title="用户可以选择的最大值" style="width: 30px; height: 20px;">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;最大值显示文本：</span><input ng-model="question.maxValueShow" type="text"
                                                                    class="inputtext"
                                                                    style="width: 100px; height: 20px;">
            </div>
        </div>
        <div style="clear: both; line-height: 1px;"></div>

        <div class="attr_question_box" style="margin: 15px 10px;"
             ng-include="'./views/design/share/finish-button.html'"></div>
    </div>
</div>