

.code-popup {
    width: 255px;
}

.QR-code {
    width: 250px;
    padding: 10px 0;
}

.QR-code>table {
    margin: 0 !important;
}

.smart-form .checkbox input, .smart-form .radio input {
    position: static;
    max-width: 1000000px;
}

.smart-form .checkbox, .smart-form .radio {
    max-width: 1000000px;
    padding: 0;
}

/*.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: initial; 
}*/

.smart-form .checkbox i, .smart-form .radio i {
    display: none;
}