
body {
    height: 100%;
    background: #eee;
}

.testTyle-box {
    background: #fafafa;
    padding: 20px;
}

.answer-content-box {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    position: relative;
    background: #1A83D2;
}

.navbar-box {
    float: left;
    line-height: 34px;
    font-size: 16px;
}

.navbar-box a {
    color: #fff;
}

/*页脚*/
.bs-docs-footer p {
    text-align: center;
}

.bs-docs-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    color: #767676;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}

.bs-docs-footer p {
    margin: 0;
    text-align: center;
}

.testTyle-box .testTyle-dl {
    float: left;
    border-radius: 4px;
    padding: 6px;
    margin: 2px;
    background: #fff;
    border: 1px solid #337AB7;
    color: #337AB7;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.testTyle-box .testTyle-dl:hover {
    background: #337AB7;
    color: #fff;
}

.testTyle-box .testTyle-dl dt {
    font-size: 44px;
}

.testTyle-box .testTyle-dl dt, .testTyle-box .testTyle-dl dd {
    text-align: center;
}

.testTyle-box .testTyle-title {
    line-height: 30px;
    background: #D9ECFA;
    padding-left: 10px;
}

.testTyle-box .testTyle-select-box {
    padding: 10px 0;
}

.testTyle-box .testTyle-select-boxs {
    background: #fff;
    padding: 5px 10px;
}

.testTyle-box .testTyle-select-boxs li {
    line-height: 26px;
}