html {
    height: 100%;
}

body {
    height: 100%;
    background: #eee;
}

.question-statistics-form {
    background: #fafafa;
    /*height: 100%;*/
}

.question-statistics-form .question-statistics-ul {
    width: 100%;
    height: 100%;
    float: left;
}

.question-statistics-form h4 {
    text-align: center;
}

.question-statistics-form > ul > li {
    margin: 5px 0;
    line-height: 24px;
}

.question-statistics-form .statistics-ul-question > li {
    float: left;
    padding-left: 5px;
}

.question-statistics-form .statistics-ul-question {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

/*.question-statistics-form .statistics-ul-question:hover {
    background: #EFEFEF;
}*/

.question-statistics-form .statistics-ul-question .li-question {
    display: inline-block;
    width: 100%;
}

.question-statistics-form .statistics-picture-box {
    float: right;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*.question-statistics-form .charts-class {
    margin : 0;
}*/

.question-statistics-ul > ul > li {
    background: #fff;
    margin-bottom: 10px;
}

/*.question-statistics-form .tableResult {
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}

.question-statistics-form .tableResult td {
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}*/

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px;
}

/*页脚*/
.bs-docs-footer p {
    text-align: center;
}

.bs-docs-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    color: #767676;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}

.bs-docs-footer p {
    margin: 0;
    text-align: center;
}

.statistics-picture-btn {
    float: right;
}

.statistics-picture-btn li {
    float: left;
    padding-right: 5px;
}

.answer-content-box {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    position: relative;
    background: #1A83D2;
}

.navbar-box {
    float: left;
    line-height: 34px;
    font-size: 16px;
}

.navbar-box a {
    color: #fff;
}

.details-popup-box {
    padding: 0 10px;
    max-height: 320px;
    overflow: auto;
    margin: 10px 0;
}

.details-popup-ul-box li {
    float: left;
}

.details-popup-ul-box {
    display: inline-block;
}

@media (max-width: 767px) {
    .question-statistics-form .statistics-picture-box {
        display: none;
    }
}

.charts-class {
    margin-left: 30px;
    width: 500px;
    height: 400px;
    float: left;
}