<div class='div_question' id='div50'>
                            <div class='div_title_question_all'>
                                <div class='div_topic_question'><b>24.</b></div>
                                <div id='divTitle50' class='div_title_question'>请输入您的联系地址：<span style='color:red;'>&nbsp;*</span>
                                </div>
                                <div style='clear:both;'></div>
                            </div>
                            <div class='div_table_radio_question' id='divquestion50'>
                                <div class='div_table_clear_top'></div>
                                <table style='width:100%;' border='0px' cellpadding='5' cellspacing='0'>
                                    <tbody>
                                        <tr align='left' rowindex='0'>
                                            <td class='rowth' align='left' style=' width:84px;'>姓名：</td>
                                            <td><textarea class='inputtext' style='overflow:hidden;height:22px;' rows='1' onpropertychange='changeHeight(this);'
                                                    oninput='changeHeight(this);'></textarea></td>
                                            <!--<th class='rowth' align='left' style=''></th>-->
                                        </tr>
                                        <tr itemverify='省市区' align='left' rowindex='1'>
                                            <td class='rowth' align='left' style=' width:84px;'>所在地区：</td>
                                            <td><textarea class='inputtext' style='overflow:hidden;height:22px;width:50%;' rows='1'
                                                    onclick='openCityBox(this,3,event,50);' readonly='readonly' id='q50_1' name='q50_1'></textarea>&nbsp;
                                                <img class="exam-input-img" alt='' />
                                            </td>
                                            <!--<th class='rowth' align='left' style=''></th>-->
                                        </tr>
                                        <tr align='left' rowindex='2'>
                                            <td class='rowth' align='left' style=' width:84px;'>街道地址:</td>
                                            <td><textarea class='inputtext' style='overflow:hidden;height:22px;width:50%;' rows='1'
                                                    onpropertychange='changeHeight(this);' oninput='changeHeight(this);'></textarea></td>
                                            <!--<th class='rowth' align='left' style=''></th>-->
                                        </tr>
                                        <tr itemverify='数字' align='left' rowindex='3'>
                                            <td class='rowth' align='left' style=' width:84px;'>邮政编码:</td>
                                            <td><textarea class='inputtext' style='overflow:hidden;height:22px;' rows='1' onpropertychange='changeHeight(this);'
                                                    oninput='changeHeight(this);'></textarea></td>
                                            <!--<th class='rowth' align='left' style=''></th>-->
                                        </tr>
                                        <tr itemverify='电话' align='left' rowindex='4'>
                                            <td class='rowth' align='left' style=' width:84px;'>手机或固话：</td>
                                            <td><textarea class='inputtext' style='overflow:hidden;height:22px;' rows='1' onpropertychange='changeHeight(this);'
                                                    oninput='changeHeight(this);'></textarea></td>
                                            <!--<th class='rowth' align='left' style=''></th>-->
                                        </tr>
                                    </tbody>
                                </table>
                                <div id='slider50'></div>
                                <div class='div_table_clear_bottom'></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>