<div class='div_question' id='div38'>
                            <div class='div_title_question_all'>
                                <div class='div_topic_question'><b>18.</b></div>
                                <div id='divTitle38' class='div_title_question'>您的年龄段：<span style='color:red;'>&nbsp;*</span></div>
                                <div style='clear:both;'></div>
                            </div>
                            <div class='div_table_radio_question' id='divquestion38'>
                                <div class='div_table_clear_top'></div>
                                <ul class='ulradiocheck'>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_1'></a><input style='' type='radio' name='q38' id='q38_1' value='1' />
                                        <label for='q38_1'>18岁以下</label>
                                    </li>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_2'></a><input style='' type='radio' name='q38' id='q38_2' value='2' />
                                        <label for='q38_2'>18~25</label>
                                    </li>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_3'></a><input style='' type='radio' name='q38' id='q38_3' value='3' />
                                        <label for='q38_3'>26~30</label>
                                    </li>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_4'></a><input style='' type='radio' name='q38' id='q38_4' value='4' />
                                        <label for='q38_4'>31~40</label>
                                    </li>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_5'></a><input style='' type='radio' name='q38' id='q38_5' value='5' />
                                        <label for='q38_5'>41~50</label>
                                    </li>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_6'></a><input style='' type='radio' name='q38' id='q38_6' value='6' />
                                        <label for='q38_6'>51~60</label>
                                    </li>
                                    <li style='width:87px'>
                                        <a href='javascript:' style="display:none;" class='jqRadio' rel='q38_7'></a><input style='' type='radio' name='q38' id='q38_7' value='7' />
                                        <label for='q38_7'>60以上</label>
                                    </li>
                                    <div style='clear:both;'></div>
                                </ul>
                                <ul class='ulradiocheck'>
                                    <div style='clear:both;'></div>
                                </ul>
                                <div style='clear:both;'></div>
                                <div class='div_table_clear_bottom'></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>