<div class="div_preview">
	<div class="div_title_question_all">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.<span style="color: red;" ng-show="question.required">*</span></div>
		<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
		<div ng-value="{{question.sortNo=$index}}"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question">
		<div class="div_table_clear_top clearfix"></div>
		<ul class="option-box smart-form">
			<li ng-class="question.optionProportion" ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
				<label class="checkbox">
                    <div ng-init="option.answerOption=option.isDefault"></div>  
					<input type='checkbox' ng-change="question.rangeNumber(option.answerOption,viewAnswer.questions,option)" ng-model="option.answerOption"
					 		ng-click="question.mutualReject(option.isMutual,option.answerOption)"/><i></i>{{option.title}}
				</label>
                <span class="option-compile clearfix" ng-show="option.alloweFillIn"> 
					<span style="color: red;" ng-show="option.requiredFillIn">*</span>
					<input type="text" ng-model="option.optionGapFilling"/>
					<span style="color: #fff;">*</span>
				</span>
                <div class="question-explain"><span ng-bind-html="trustAsHtml(option.reminder)"></span></div>				
			</li>
			<div style="clear:both;"></div> 
		</ul>
		<div class="div_table_clear_bottom"></div>
	</div>
	<div class="answer-maximum" ng-show="question.outRangeMessage===true">最多可选{{question.atMost}}项</div>
    <div class="answer-maximum" ng-show="question.leastRangeMessage===true">最少可选{{question.atLeast}}项</div>
	<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
	<div class='errorMessage'></div>
</div>