<div class="div_preview"> 
	<div class="div_title_question_all">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.<span style="color: red;" ng-show="question.required">*</span></div>
		<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
	<div ng-value="{{question.sortNo=$index}}"></div> 
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question">
		<div class="div_table_clear_top clearfix"></div>
		<ul class="option-box smart-form">
			<li  ng-class="question.optionProportion" ng-repeat="option in question.options track by $index"  ng-value="{{option.sortNo=$index}}">
				<label class="radio">
					<!--<input type='radio' name='{{question|questionNoFilter:viewAnswer.questions}}' ng-model="option.answerOption"/>-->
					<input type='radio' name='{{question|questionNoFilter:viewAnswer.questions}}' 	ng-model="option.answerOption"
						   ng-click="question.unconditionalSkip(viewAnswer.questions,option.optionJMPTo,option.answerOption,option)" 
					       ng-value="true"/>
					
					
					<i></i>{{option.title}}
				</label>
				<div class="question-explain"><span ng-bind-html="trustAsHtml(option.reminder)"></span></div>				
			</li>
			<div style="clear:both;"></div>
		</ul>
		<div class="div_table_clear_bottom"></div>
	</div>
	<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
</div>

