<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.<span style="color: red;" ng-show="question.required">*</span></div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question"ng-repeat="option in question.options track by $index"> 
        <div class="div_table_clear_top clearfix"></div>
        <div ng-init="option.answerOption=option.defaultContent"></div> 
     <div ng-init="option.verificationBy=true"></div>
        <textarea ng-blur="question.yz(option)" ng-value="{{option.sortNo=$index}}" ng-model="option.answerOption"
            ng-class="[option.optionProportionHeight,option.optionProportionWidth,option.underlineStyle]" wrap="soft" rows="1" class="inputtext"
            ng-change="question.gapFillingSkip(viewAnswer.questions,option.answerOption,option)"></textarea>
        <span style="display: none;"></span><span style="display: none;"></span>
        <span class="error-reminder-box" ng-if="option.verificationBy===false">邮箱错误</span>
        <div class="div_table_clear_bottom"></div>
    </div>
    
    <div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
	<div class='errorMessage'></div>
</div>