<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.
            <span style="color: red;" ng-show="question.required">*</span>
</div>
<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
<div ng-value="{{question.sortNo=$index}}"></div>
<div style="clear: both;"></div>
</div> 
<div class="div_table_radio_question clearfix" ng-repeat="option in question.options">
    <div class="div_table_clear_top clearfix"></div>
    <div>
        <span>选择文件（不超过{{option.fileMax}}KB）</span>
        <span ng-init="option.ready=false"> </span>
        <span ng-init="option.pageReadonly=false"></span>
    </div>
    <ul>
        <li>请选择上传文件，扩展名为:</li>
        <li>{{option.extensionDetail}}</li>
    </ul>
    <div wf-uploader files="option.files" opts="{auto: false,resourceId: question.code,className: null,preview: false,previewSize: [200, 100],fileNumLimit: 1,fileSizeLimit:(option.fileMax*1024), chunkSize: 1024,accept:{ extensions: (option.extensionDetail|replaceString),
        } };" ready="option.ready" read-only="option.pageReadonly"></div>
</div>
<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
<div class='errorMessage'></div>
</div>