                        <div class='div_question' id='div48'>
                            <div class='div_title_question_all'>
                                <div class='div_topic_question'><b>23.</b></div>
                                <div id='divTitle48' class='div_title_question'>您目前从事的行业：<span style='color:red;'>&nbsp;*</span>
                                </div>
                                <div style='clear:both;'></div>
                            </div>
                            <div class='div_table_radio_question' id='divquestion48'>
                                <div class='div_table_clear_top'></div>
                                <select style="width:62%" id='q48' name='q48'>
                                    <option value='-2'>请选择</option>
                                    <option value='1'>IT/软硬件服务/电子商务/因特网运营</option>
                                    <option value='2'>快速消费品(食品/饮料/化妆品)</option>
                                    <option value='3'>批发/零售</option>
                                    <option value='4'>服装/纺织/皮革</option>
                                    <option value='5'>家具/工艺品/玩具</option>
                                    <option value='6'>教育/培训/科研/院校</option>
                                    <option value='7'>家电</option>
                                    <option value='8'>通信/电信运营/网络设备/增值服务</option>
                                    <option value='9'>制造业</option>
                                    <option value='10'>汽车及零配件</option>
                                    <option value='11'>餐饮/娱乐/旅游/酒店/生活服务</option>
                                    <option value='12'>办公用品及设备</option>
                                    <option value='13'>会计/审计</option>
                                    <option value='14'>法律</option>
                                    <option value='15'>银行/保险/证券/投资银行/风险基金</option>
                                    <option value='16'>电子技术/半导体/集成电路</option>
                                    <option value='17'>仪器仪表/工业自动化</option>
                                    <option value='18'>贸易/进出口</option>
                                    <option value='19'>机械/设备/重工</option>
                                    <option value='20'>制药/生物工程/医疗设备/器械</option>
                                    <option value='21'>医疗/护理/保健/卫生</option>
                                    <option value='22'>广告/公关/媒体/艺术</option>
                                    <option value='23'>出版/印刷/包装</option>
                                    <option value='24'>房地产开发/建筑工程/装潢/设计</option>
                                    <option value='25'>物业管理/商业中心</option>
                                    <option value='26'>中介/咨询/猎头/认证</option>
                                    <option value='27'>交通/运输/物流</option>
                                    <option value='28'>航天/航空/能源/化工</option>
                                    <option value='29'>农业/渔业/林业</option>
                                    <option value='30'>其他行业</option>
                                </select>

                                <div style='clear:both;'></div>
                                <div class='div_table_clear_bottom'></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>