<div class="div_preview">
	<div class="div_title_question_all">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}<span style="color: red;" ng-show="question.required">*</span></div>
		<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
		<div ng-value="{{question.sortNo=$index}}"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question">
		<div class="div_table_clear_top clearfix"></div>  
		<ul class="option-box smart-form"> 
			<li ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
				<label style="vertical-align:middle;padding-left:2px;" ng-show="$index==0">
					<b>{{option.title}}</b>
				</label>
				<label class="radio" style="width:36px;display:inline-block" ng-show="question.likertPattern === 'likertPatternNo'">
					<input ng-click="question.gradualChangeNo($index,option.answerOption,viewAnswer.questions,option.optionJMPTo,option)" 
					ng-model="option.answerOption" type='checkbox'/><i></i>
					<span ng-show="!option.noRecord">{{option.score}}</span>
				</label>
				<span ng-show="question.likertPattern === 'likertPatternBox'"> 
					<span class="likert-pattern-boxs {{option.class}}" ng-click="question.gradualChange($index)" ng-show="!option.noRecord">{{option.score}}</span>
				</span>
				<span ng-show="question.likertPattern === 'likertPatternStar'">
					<span class="likert-pattern-stars {{option.class}}" ng-click="question.gradualChangeStar($index)" ng-show="!option.noRecord"></span>
				</span>
				<label style="vertical-align:middle;padding-left:2px;" ng-show="$index==question.options.length-1"><b>{{option.title}}</b></label>
			</li>
			<div style="clear:both;"></div>
		</ul> 
		<div class="div_table_clear_bottom"></div>
	</div>
	<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
	<div class='errorMessage'></div>
</div>

