<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.</div>
        <div class="div_title_question"><span>请在此输入问题标题</span><span style="color: red;">&nbsp;*</span></div>
       <div ng-value="{{question.sortNo=$index}}"></div> 
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <table style="width:100%;" border="0px" cellpadding="5" cellspacing="0">
            <tbody>
                <tr>
                    <th></th>
                    <td align="left" width="410">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="60%">
                                        <div style="width:70%">
                                            <div style="float:left;color:red;">0</div>
                                            <div style="float:right;color:red;">100</div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <th></th>
                </tr>
                <tr>
                    <th align="left" style="">外观</th>
                    <td align="left" style="position: relative;">
                        <div class="imageSlider imageSlider-ten">
                            <div title="拖动或点击滑动条" id="divSlider10_0_bar" class="imageBar1"></div>
                        </div>
                        <th></th>
                </tr>
                <tr>
                    <th align="left" style="">性能</th>
                    <td align="left" style="position: relative;">
                        <div class="imageSlider imageSlider-ten">
                            <div title="拖动或点击滑动条" id="divSlider10_0_bar" class="imageBar1"></div>
                        </div>
                    </td>
                    <th></th>
                </tr>
            </tbody>
        </table>
        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
    <div class="div_title_attr_question">
        <div style="margin-left: 8px;">
            <div class="spanLeft">
                <div style="background: rgb(226, 224, 225); height: 27px; line-height: 27px; width: 395px;">
                    <span style="float:left;">&nbsp;<b style="font-size:14px;">标题</b>&nbsp;<a
                                            href="javascript:"
                                            onmouseout="sb_setmenunav(toolTipLayer,false);" class="link-U666"
                                            title="引用前面题目的答案">引用</a></span>
                    <span class="spanRight" style="padding-right: 5px;"><a
                                            href="javascript:void(0);" class="link-U666">设置标题字体、插入图片视频</a></span>

                    <div class="divclear"></div>
                </div>
                <div style="width: 395px;">
                    <div><textarea wrap="soft" rows="4" class="inputtext" tabindex="1" title="例如：您最喜欢的车型？" id="tcmatrix18" style="width: 388px; height: 70px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(221, 221, 221);"></textarea>
                    </div>
                </div>
            </div>
            <div class="spanLeft">
                <div>&nbsp;&nbsp;当前题型：<b>矩阵滑动条</b>&nbsp;&nbsp;<select style="width:90px;" onchange="javascript:cur.selChangeType(this.value);">
                                        <option value="0">转换题型</option>
                                        <option value="matrix,101">矩阵量表题</option>
                                        <option value="matrix,103">矩阵单选题</option>
                                        <option value="matrix,102">矩阵多选题</option>
                                        <option value="matrix,201">矩阵文本题</option>
                                    </select></div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题">必答题<span style="display: none;">&nbsp;&nbsp;&nbsp;&nbsp;将所有题目设为：<b><a
                                            href="javascript:setAllRequired(true);" class="link-U00a6e6">必答</a></b>&nbsp;<a
                                            href="javascript:setAllRequired(false);" class="link-U00a6e6"><b>非必答</b></a></span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">填写提示<span style="display: none;">&nbsp;<input type="text" class="inputtext"
                                                                                style="width: 140px;"><span>&nbsp;</span>
                    <a href="javascript:">高级编辑模式</a>
                    </span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">无条件跳题<span style="display: none;"><span>，填写此题后跳转到第</span>
                    <input type="text" class="inputtext" style="width: 30px;"><span>题</span></span>
                    <i class="design-icon design-qmark"></i>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span><b>关联逻辑</b></span><span style="display: none;"><a ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span><span><i
                                            class="design-icon design-qmark"></i></span>
                    <span style="display: none;">&nbsp;&nbsp;<a href="" class="link-U00a6e6">复制到后面的题目</a></span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-left: 8px;">
            <div style="padding-top: 10px;"></div>
            <div style="clear: both; width: 400px;">
                <div class="spanLeft" style="padding: 5px 0px 0px; width: 315px;">
                    <div class="matrixtitle" style="width: 315px;">
                        <div class="matrixhead" style="padding-left: 4px;"><span style="float:left;"><b>左行标题</b></span><span class="spanRight" style="padding-right: 20px;"><input
                                                    type="checkbox" tabindex="-1"><span>右行标题</span></span>

                            <div class="divclear"></div>
                        </div><textarea wrap="soft" rows="7" class="inputtext" tabindex="1" title="相当于每个小题的标题" style="width: 308px; height: 154px; overflow: auto; padding: 2px; margin-top: 10px;"></textarea>
                    </div>
                    <div class="spanLeft matrixhead" style="display: none; width: 159px;">
                        <div><input type="checkbox" tabindex="-1"><span>右行标题(可选)</span>
                        </div>
                        <textarea wrap="soft" rows="7" class="inputtext" title="适用于“语义差异法”等场景" style="width: 140px; height: 154px; overflow: auto; padding: 2px; margin: 10px 0px 0px 10px;"></textarea>
                    </div>
                    <div class="divclear"></div>
                    <div style="margin: 12px 0px 8px;"><a class="link-U666">插入标签</a>&nbsp;&nbsp;
                        <input type="checkbox" tabindex="-1"><span title="标题随机显示">行标题随机&nbsp;&nbsp;</span></div>
                    <div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
                    <div style="display: none; margin: 10px 0px;"></div>
                    <div style="margin: 8px 0px 5px;"><span>最小值：</span><input type="text" class="inputtext" title="用户可以选择的最小值" maxlength="3" style="width: 30px;">
                        <span style="margin-left: 60px;">最大值：</span><input type="text" class="inputtext" title="用户可以选择的最大值"
                            maxlength="3" style="width: 30px;">
                    </div>
                </div>
                <div class="spanLeft" style="width: 310px; padding-top: 5px; display: none;">
                    <table class="tableoption" cellspacing="0" cellpadding="2" width="98%">
                        <tbody>
                            <tr style="background: rgb(225, 224, 224);">
                                <td style="width: 150px; padding-right: 20px;"><span><a title="交换选项文字"
                                                                                                        href="javascript:void(0);"
                                                                                                        style="font-weight: bold; color: rgb(88, 89, 91); font-size: 14px; text-decoration: none;">选项文字<i
                                                        class="design-icon design-ctext"></i></a></span></td>
                                <td style="width: 90px; display: none;"><span><input type="checkbox"
                                                                                                     tabindex="-1"
                                                                                                     title="给选项设置分数，可用于Likert量表或者测试类型的问卷"><span
                                                        style="cursor: pointer;">&nbsp;<b>分数</b><span
                                                        class="bordCss bordBottomCss"
                                                        style="border-color:#2E6AB1 transparent transparent;"></span></span>
                                    </span>
                                </td>
                                <td style="display: none;"></td>
                                <td style="display: none;"></td>
                                <td align="center" style="width: 115px;"><span>操作</span></td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="left" style="display: none;"><span>&nbsp;<input type="text"
                                                                                                           class="inputtext"
                                                                                                           maxlength="5"
                                                                                                           title="在此可以设置每个选项的分数（请输入整数）"
                                                                                                           style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left" style="display: none;"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span>
                                    <span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="left" style="display: none;"><span>&nbsp;<input type="text"
                                                                                                           class="inputtext"
                                                                                                           maxlength="5"
                                                                                                           title="在此可以设置每个选项的分数（请输入整数）"
                                                                                                           style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left" style="display: none;"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span>
                                    <span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="left" style="display: none;"><span>&nbsp;<input type="text"
                                                                                                           class="inputtext"
                                                                                                           maxlength="5"
                                                                                                           title="在此可以设置每个选项的分数（请输入整数）"
                                                                                                           style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left" style="display: none;"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span>
                                    <span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="left" style="display: none;"><span>&nbsp;<input type="text"
                                                                                                           class="inputtext"
                                                                                                           maxlength="5"
                                                                                                           title="在此可以设置每个选项的分数（请输入整数）"
                                                                                                           style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left" style="display: none;"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span>
                                    <span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="left" style="display: none;"><span>&nbsp;<input type="text"
                                                                                                           class="inputtext"
                                                                                                           maxlength="5"
                                                                                                           title="在此可以设置每个选项的分数（请输入整数）"
                                                                                                           style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left" style="display: none;"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span>
                                    <span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin: 12px 0px 5px; display: none;">
                        <div style="width: 98%;"><span class="spanRight" style="display: none;"><span><select
                                                    onchange="cur.set_likert_num(this);">
                                                <option value="2">2级量表</option>
                                                <option value="3">3级量表</option>
                                                <option value="4">4级量表</option>
                                                <option selected="selected" value="5">5级量表</option>
                                                <option value="6">6级量表</option>
                                                <option value="7">7级量表</option>
                                                <option value="8">8级量表</option>
                                                <option value="9">9级量表</option>
                                                <option value="10">10级量表</option>
                                            </select></span></span>
                            <span class="spanLeft">
                    <a href="javascript:" class="link-U00a6e6"
                       style="text-decoration:none;"><span
                            class="choiceimg design-icon design-singleadd"></span><b>添加选项</b></a>&nbsp;&nbsp;
                            <a href="javascript:" class="batchadd" title="批量添加选项"><span
                                                    class="choiceimg design-icon design-badd"></span><b>批量增加</b></a>&nbsp;&nbsp;</span>
                            <span class="spanRight"></span>
                            <span class="spanRight" style="display: none;"><input type="checkbox"
                                                                                                  tabindex="-1"><span>选项随机&nbsp;</span></span>

                            <div class="divclear"></div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="divclear"></div>
            <div style="margin-top: 8px;"><span><b>题目总宽度：</b><select
                                        onchange="cur.setMainWidth(this);">
                                    <option value="">默认</option>
                                    <option value="50">50%</option>
                                    <option value="60">60%</option>
                                    <option value="70">70%</option>
                                    <option value="80">80%</option>
                                    <option value="90">90%</option>
                                    <option value="100">100%</option>
                                    <option value="自定义">自定义</option>
                                </select>&nbsp;<span style="display: none;"><input type="text" class="inputtext"
                                                                                   maxlength="2" style="width: 30px;">%</span></span><span>&nbsp;&nbsp;<b>左行标题宽度：</b><select
                                        onchange="cur.setTWidth(this);">
                                    <option value="">默认</option>
                                    <option value="10%">10%</option>
                                    <option value="15%">15%</option>
                                    <option value="20%">20%</option>
                                    <option value="30%">30%</option>
                                    <option value="40%">40%</option>
                                    <option value="50%">50%</option>
                                    <option value="自定义">自定义</option>
                                </select>&nbsp;<input type="text" class="inputtext" maxlength="3"
                                                      style="width: 30px; display: none;"></span>
                <span style="display: none;"><b>右行标题宽度：</b><select onchange="cur.setTWidth2(this);">
                                    <option value="">默认</option>
                                    <option value="10%">10%</option>
                                    <option value="15%">15%</option>
                                    <option value="20%">20%</option>
                                    <option value="30%">30%</option>
                                    <option value="40%">40%</option>
                                    <option value="50%">50%</option>
                                    <option value="自定义">自定义</option>
                                </select>&nbsp;
                    <input type="text" class="inputtext" maxlength="3" style="width: 30px; display: none;"></span>
            </div>
        </div>
        <div style="clear: both; line-height: 1px;">&nbsp;</div>
<div class="attr_question_box" style="margin: 15px 10px;" ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>