<div class="div_preview">
	<div class="div_title_question_all">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}<span style="color: red;" ng-show="question.required">*</span></div>
		<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
		<div ng-value="{{question.sortNo=$index}}"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question">
		<div class="div_table_clear_top clearfix"></div>
		<ul class="div_radio_box" ng-class="question.titleAllWidth">
			<li ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
				<span ng-class="question.titleWidth">{{option.title}}</span>
				<textarea ng-model="option.answerOption" ng-class="option.rightInputWidth" class="inputtext oneline"  
						  ng-change="question.gapFillingSkip(viewAnswer.questions,option.answerOption,option)">
				</textarea>
				<span ng-show="option.rightTitle">{{option.rightTitle}}</span>
			</li>
		</ul>
		<div class="div_table_clear_bottom"></div>
	</div>
	<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
	<div class='errorMessage'></div>
</div>