<div class="div_preview">
    <div>
        <span class="div_topic_page_question">
            <span style="font-size:14px; font-weight:bold;">{{question|pageNoFilter:viewAnswer.questions}}</span>
        </span>
        <span style="display: none;"><b style="color:red;">--页</b></span><span></span>
        <div class="answer-explain-box">
            <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
            <div ng-value="{{question.sortNo=$index}}"></div> 
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

