<div class='div_question' id='div47'>
                            <div class='div_title_question_all'>
                                <div class='div_topic_question'><b>22.</b></div>
                                <div id='divTitle47' class='div_title_question'>您目前从事的职业：<span style='color:red;'>&nbsp;*</span>
                                </div>
                                <div style='clear:both;'></div>
                            </div>
                            <div class='div_table_radio_question' id='divquestion47'>
                                <div class='div_table_clear_top'></div>
                                <select style="width:62%" id='q47' name='q47'>
                                    <option value='-2'>请选择</option>
                                    <option value='1'>全日制学生</option>
                                    <option value='2'>生产人员</option>
                                    <option value='3'>销售人员</option>
                                    <option value='4'>市场/公关人员</option>
                                    <option value='5'>客服人员</option>
                                    <option value='6'>行政/后勤人员</option>
                                    <option value='7'>人力资源</option>
                                    <option value='8'>财务/审计人员</option>
                                    <option value='9'>文职/办事人员</option>
                                    <option value='10'>技术/研发人员</option>
                                    <option value='11'>管理人员</option>
                                    <option value='12'>教师</option>
                                    <option value='13'>顾问/咨询</option>
                                    <option value='14'>专业人士(如会计师、律师、建筑师、医护人员、记者等)</option>
                                    <option value='15'>其他</option>
                                </select>

                                <div style='clear:both;'></div>
                                <div class='div_table_clear_bottom'></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>