<div class="div_preview">
	<div class="div_title_question_all" style="display: none;">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.</div>
		<div class="div_title_question"><span>请在此输入问题标题</span><span style="color: red;">&nbsp;*</span></div>
	<div ng-value="{{question.sortNo=$index}}"></div> 
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question" style="padding-left: 0px;">
		<div class="div_table_clear_top clearfix"></div>
		<div style="font-size:16px;color:#333;font-weight:bold;margin-top:10px;">情景2&nbsp;<a style="font-size:16px;cursor:pointer;">切换场景</a></div>
		请设置情景说明
		<div class="div_table_clear_bottom"></div>
	</div>
	<div class="div_ins_question"></div>
	<div style="height: 18px;">
		<div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
		<div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
	</div>
	<div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
	</div>
	<!--题目设置-->
	<div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
	</div>
	<div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
	<div class="div_title_attr_question">
		<div style="margin-left: 8px; display: none;">
			<div class="spanLeft">
				<div style="background: rgb(226, 224, 225); height: 27px; line-height: 27px; width: 395px;">
					<span style="float:left;">&nbsp;<b style="font-size:14px;">标题</b>&nbsp;<a
                                            href="javascript:"
                                            onmouseout="sb_setmenunav(toolTipLayer,false);" class="link-U666"
                                            title="引用前面题目的答案">引用</a></span>
					<span class="spanRight" style="padding-right: 5px;"><a class="link-U666">设置标题字体、插入图片视频</a></span>

					<div class="divclear"></div>
				</div>
				<div style="width: 395px;">
					<div><textarea wrap="soft" rows="4" class="inputtext" tabindex="1" title="例如：您最喜欢的车型？" id="tcradio25" style="width: 388px; height: 70px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(221, 221, 221);"></textarea>
					</div>
				</div>
			</div>
			<div class="spanLeft">
				<div>&nbsp;&nbsp;当前题型：<b>情景随机题</b>&nbsp;&nbsp;<select style="width:90px;" onchange="javascript:cur.selChangeType(this.value);">
                                        <option value="0">转换题型</option>
                                        <option value="radio_down">下拉框单选题</option>
                                        <option value="check">多选题</option>
                                        <option value="likert">量表题</option>
                                        <option value="order">排序题</option>
                                        <option value="toupiaoradio">投票单选题</option>
                                        <option value="ceshiradio">考试单选题</option>
                                        <option value="cepingradio">评分单选题</option>
                                        <option value="question">问答题</option>
                                    </select></div>
				<div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题">必答题<span style="display: none;">&nbsp;&nbsp;&nbsp;&nbsp;将所有题目设为：<b><a
                                            href="javascript:setAllRequired(true);" class="link-U00a6e6">必答</a></b>&nbsp;<a
                                            href="javascript:setAllRequired(false);" class="link-U00a6e6"><b>非必答</b></a></span>
				</div>
				<div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">填写提示<span style="display: none;">&nbsp;<input type="text" class="inputtext"
                                                                                style="width: 140px;"><span>&nbsp;</span>
					<a href="javascript:">高级编辑模式</a>
					</span>
				</div>
				<div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">无条件跳题<span style="display: none;"><span>，填写此题后跳转到第</span>
					<input type="text" class="inputtext" style="width: 30px;"><span>题</span></span>
					<i class="design-icon design-qmark"></i>
				</div>
				<div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span><b>关联逻辑</b></span><span style="display: none;"><a ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span><span><i
                                            class="design-icon design-qmark"></i></span><span style="display: none;">&nbsp;&nbsp;<a
                                            href="" class="link-U00a6e6">复制到后面的题目</a></span></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div style="clear: both;"></div>
		<div style="margin-left: 8px;">
			<div style="padding-top: 10px;"></div>
			<div style="clear: both; width: 62%;">
				<div>
					<table class="tableoption" cellspacing="0" cellpadding="0" width="98%">
						<tbody>
							<tr style="background: rgb(225, 224, 224);">
								<td style="width: 150px; padding-right: 20px;"><span><a title="交换选项文字"
                                                                                                        href="javascript:void(0);"
                                                                                                        style="font-weight: bold; color: rgb(88, 89, 91); font-size: 14px; text-decoration: none;">选项文字<i
                                                        class="design-icon design-ctext"></i></a></span></td>
								<td style="width: 60px;"><span>情景说明</span></td>
								<td align="center" style="letter-spacing: 1px; width: 80px; display: none;"><span><b>允许填空</b></span>
								</td>
								<td><span><input type="checkbox" tabindex="-1"
                                                                 title="给选项设置分数，可用于Likert量表或者测试类型的问卷"
                                                                 style="display: none;"><span style="cursor: pointer;">数量限制</span></span>
								</td>
								<td><span style="display: none;">&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"><span
                                                        style="cursor: pointer;">跳题</span></span>
								</td>
								<td style="display: none;"></td>
								<td style="display: none;"><span style="cursor: pointer;">分组</span></td>
								<td align="center" style="width: 115px;"><span>操作</span></td>
							</tr>
							<tr>
								<td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
								</td>
								<td align="center"><span title="选项说明，支持HTML，图片，视频等" class="choiceimg design-icon design-desc"></span>
									<input type="hidden" value=""></td>
								<td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
								</td>
								<td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5"
                                                                                    title="请设置每个情景需要的数量,0表示不限制"
                                                                                    style="width: 40px; height: 20px;"></span>
								</td>
								<td align="left"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
								<td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
								</td>
								<td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
									<input type="hidden" value=""></td>
								<td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
									<span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
									<span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置"
										class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
							</tr>
							<tr>
								<td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
								</td>
								<td align="center"><span title="选项说明，支持HTML，图片，视频等" class="choiceimg design-icon design-desc"></span>
									<input type="hidden" value=""></td>
								<td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
								</td>
								<td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5"
                                                                                    title="请设置每个情景需要的数量,0表示不限制"
                                                                                    style="width: 40px; height: 20px;"></span>
								</td>
								<td align="left"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
								<td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
								</td>
								<td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
									<input type="hidden" value=""></td>
								<td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
									<span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
									<span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置"
										class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
							</tr>
							<tr>
								<td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
								</td>
								<td align="center"><span title="选项说明，支持HTML，图片，视频等" class="choiceimg design-icon design-desc"></span>
									<input type="hidden" value=""></td>
								<td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
								</td>
								<td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5"
                                                                                    title="请设置每个情景需要的数量,0表示不限制"
                                                                                    style="width: 40px; height: 20px;"></span>
								</td>
								<td align="left"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
								<td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
								</td>
								<td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
									<input type="hidden" value=""></td>
								<td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
									<span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
									<span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置"
										class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
							</tr>
							<tr>
								<td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
								</td>
								<td align="center"><span title="选项说明，支持HTML，图片，视频等" class="choiceimg design-icon design-desc"></span>
									<input type="hidden" value=""></td>
								<td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
								</td>
								<td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5"
                                                                                    title="请设置每个情景需要的数量,0表示不限制"
                                                                                    style="width: 40px; height: 20px;"></span>
								</td>
								<td align="left"><span style="display: none;">&nbsp;&nbsp;<input
                                                        type="text" class="inputtext" maxlength="4"
                                                        style="width: 40px; height: 20px;"></span></td>
								<td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
								</td>
								<td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
									<input type="hidden" value=""></td>
								<td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
									<span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
									<span title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置"
										class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="divclear"></div>
			<div style="margin: 12px 0px 5px; display: none;">
				<div style="width: 98%;"><span class="spanLeft"><a href="javascript:"

                                                                                       class="link-U00a6e6"
                                                                                       style="text-decoration:none;"><span
                                            class="choiceimg design-icon design-singleadd"></span><b>添加选项</b></a>&nbsp;&nbsp;
					<a href="javascript:" class="batchadd" title="批量添加选项"><span
                                            class="choiceimg design-icon design-badd"></span><b>批量增加</b></a>&nbsp;&nbsp;
					<a href="javascript:" class="link-U666" title="引用其它题的选中项">引用其它题选中项</a>&nbsp;</span>
					<span class="spanRight">
						<span style="display: inline-block;">
							<select ng-model="question.optionProportion"> 
                            	<option value="arrangeOne">竖向排列</option>
                                <optgroup label="横向排列">
                                	<option value="arrangeTwo">每行2列</option>
                                	<option value="arrangeThree">每行3列</option>
                                	<option value="arrangeFour">每行4列</option>
									<option value="arrangeFive">每行5列</option>
									<option value="arrangeSix">每行6列</option>
									<option value="arrangeSeven">每行7列</option>
									<option value="arrangeEight">每行8列</option>
                                </optgroup>
                            </select>
						</span>
					</span>
									<span class="spanRight"><input type="checkbox"
                                                                                                tabindex="-1"><span>选项随机&nbsp;</span></span>

					<div class="divclear"></div>
				</div>
				<div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
				<div style="display: none; margin: 10px 0px;"></div>
			</div>
		</div>
		<div style="clear: both; line-height: 1px;">&nbsp;</div>
		<div class="attr_question_box" style="margin: 15px 10px;"><input type="button" value="完成编辑" class="submitbutton" style="width: 100%;"><span style="color: red; font-size: 14px; display: inline-block; margin-left: 10px;"></span>
		</div>
	</div>
</div>