<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}<span style="color: red;" ng-show="question.required">*</span></div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div> 
    <div class="div_table_radio_question" ng-repeat="option in question.options track by $index" >
        <div class="div_table_clear_top clearfix"></div> 
        <div ng-init="option.verificationBy=true"></div>
        <textarea ng-model="option.answerOption" 
            ng-value="{{option.sortNo=$index}}" ng-bind-html="trustAsHtml(option.defaultContent)|| trustAsHtml('')"
            ng-class="[option.optionProportionHeight,option.optionProportionWidth,option.underlineStyle]" wrap="soft" rows="1"
            ng-change="question.gapFillingSkip(viewAnswer.questions,option.answerOption,option)"
            ng-blur="question.fillingVerify(option)"
            class="inputtext"></textarea>
        <span class="error-reminder-box" ng-if="option.verificationBy===false">请填写{{option.validate}}</span>
        <div style='clear:both;'></div>
        <div class='div_table_clear_bottom'></div>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div class='errorMessage'></div>
</div>