<div class="div_preview">
	<div class="div_title_question_all">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.<span style="color: red;" ng-show="question.required">*</span></div>
		<div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
		<div ng-value="{{question.sortNo=$index}}"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question"> 
		<div class="div_table_clear_top clearfix"></div>
		<div ng-init="option.answerOption=option.isDefault"></div>
		<select ng-model="option.answerOption" ng-change="question.dropDownSkip(viewAnswer.questions,option.optionJMPTo)">
            <option ng-options="option.isDefault">请选择</option>
            <option  ng-selected="option.isDefault" ng-repeat="option in question.options track by $index"  ng-value="{{option.sortNo=$index}}">{{option.title}}</option>
        </select>
		<div class="div_table_clear_bottom"></div>
	</div>
	<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
	<div class='errorMessage'></div>
</div>