<div class="div_preview {{unconditionalSkipClass}}">
	<div class="div_title_question_all">
		<div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.
			<span style="color: red;" ng-show="question.required">*</span>
		</div>
		<div class="div_title_question"><span><span ng-bind-html="trustAsHtml(question.title)"></span></div>
		<div ng-value="{{question.sortNo=$index}}"></div>
		<!--<div ng-init="question.pageNo = {{question|noQuestion:viewAnswer.questions}}"></div>-->
		<div style="clear: both;"></div>
	</div>
	<div class="div_table_radio_question">
		<div class="div_table_clear_top clearfix"></div>
		<ul class="ulradiocheck smart-form option-box">
			<li ng-class="question.optionProportion" ng-repeat="option in question.options track by $index" ng-value="{{option.sortNo=$index}}">
				<label class="radio"> 
					<div ng-init="option.answerOption = option.isDefault===true?true:false"></div>
					<input type='radio' name='{{question|questionNoFilter:viewAnswer.questions}}' 
						   ng-click="question.unconditionalSkip(viewAnswer.questions,option.optionJMPTo,option.answerOption,option)" 
					       ng-value="true"	ng-model="option.answerOption"/>
					<i></i>{{option.title}}
				</label>

				<!--<label>
					<div ng-init="option.answerOption = option.isDefault===true?true:false"></div>
					<input name="qwe" type="radio" id="iddd" ng-model="option.answerOption">
					<a rel="iddd" class="jqRadio" ng-class="{jqChecked: option.iddd===true}"></a> 
				</label>-->
				

				<!--选项填空-->
				<span class="option-compile clearfix" ng-show="option.alloweFillIn">
					<span style="color: red;" ng-show="option.requiredFillIn">*</span>
					<input type="text" ng-model="option.optionGapFilling" />
					<span style="color: #fff;">*</span>
				</span>
				<div class="question-explain"><span ng-bind-html="trustAsHtml(option.reminder)"></span></div>
			</li>
		</ul>
		<div style='clear:both;'></div>
		<div class='div_table_clear_bottom'></div>
	</div>
	<!--<div ng-model = "option.answerOption"></div>-->
	<div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
	<div class='errorMessage'></div>
</div>