<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.</div>
        <div class="div_title_question"><span>请选择商品：</span><span style="color: red; display: none;">&nbsp;*</span><span></span>
        </div>
     <div ng-value="{{question.sortNo=$index}}"></div> 
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <ul>
            <li class="shop-item">
                <div class="text_place">
                    <div class="item_name">商品1</div>
                    <p class="item_price">￥10</p>

                    <p class="item_select"><span class="operation remove">-</span><input class="operation itemnum" value="0" disabled="disabled">
                        <span class="operation add">+</span>
                    </p>
                </div>
                <div class="divclear"></div>
            </li>
            <li class="shop-item">
                <div class="text_place">
                    <div class="item_name">商品2</div>
                    <p class="item_price">￥10</p>

                    <p class="item_select"><span class="operation remove">-</span><input class="operation itemnum" value="0" disabled="disabled">
                        <span class="operation add">+</span>
                    </p>
                </div>
                <div class="divclear"></div>
            </li>
            <li class="shop-item">
                <div class="text_place">
                    <div class="item_name">商品3</div>
                    <p class="item_price">￥10</p>

                    <p class="item_select"><span class="operation remove">-</span><input class="operation itemnum" value="0" disabled="disabled">
                        <span class="operation add">+</span>
                    </p>
                </div>
                <div class="divclear"></div>
            </li>
        </ul>
        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
    <div class="div_title_attr_question">
        <div style="margin-left: 8px;">
            <div class="spanLeft">
                <div style="background: rgb(226, 224, 225); height: 27px; line-height: 27px; width: 395px;">
                    <span style="float:left;">&nbsp;<b style="font-size:14px;">标题</b>&nbsp;<a
                                            href="javascript:"
                                            onmouseout="sb_setmenunav(toolTipLayer,false);" class="link-U666"
                                            title="引用前面题目的答案">引用</a></span>
                    <span class="spanRight" style="padding-right: 5px;"><a class="link-U666">设置标题字体、插入图片视频</a></span>

                    <div class="divclear"></div>
                </div>
                <div style="width: 395px;">
                    <div><textarea wrap="soft" rows="4" class="inputtext" tabindex="1" title="例如：您最喜欢的车型？" id="tccheck26" style="width: 388px; height: 70px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(221, 221, 221);"></textarea>
                    </div>
                </div>
            </div>
            <div class="spanLeft" style="display: none;">
                <div>&nbsp;&nbsp;当前题型：<b>多选题</b>&nbsp;&nbsp;<select style="width:90px;" onchange="javascript:cur.selChangeType(this.value);">
                                        <option value="0">转换题型</option>
                                        <option value="radio">列表单选题</option>
                                        <option value="radio_down">下拉框单选题</option>
                                        <option value="likert">量表题</option>
                                        <option value="order">排序题</option>
                                        <option value="toupiaocheck">投票多选题</option>
                                        <option value="ceshicheck">考试多选题</option>
                                        <option value="question">问答题</option>
                                    </select></div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题">必答题<span style="display: none;">&nbsp;&nbsp;&nbsp;&nbsp;将所有题目设为：<b><a
                                            href="javascript:setAllRequired(true);" class="link-U00a6e6">必答</a></b>&nbsp;<a
                                            href="javascript:setAllRequired(false);" class="link-U00a6e6"><b>非必答</b></a></span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">填写提示<span style="display: none;">&nbsp;<input type="text" class="inputtext"
                                                                                style="width: 140px;"><span>&nbsp;</span>
                    <a href="javascript:">高级编辑模式</a>
                    </span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">无条件跳题<span style="display: none;"><span>，填写此题后跳转到第</span>
                    <input type="text" class="inputtext" style="width: 30px;"><span>题</span></span>
                    <i class="design-icon design-qmark"></i>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span><b>关联逻辑</b></span><span style="display: none;"><a ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span><span><i
                                            class="design-icon design-qmark"></i></span><span style="display: none;">&nbsp;&nbsp;<a
                                            href="" class="link-U00a6e6">复制到后面的题目</a></span></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-left: 8px;">
            <div style="padding-top: 10px;"></div>
            <div style="clear: both; width: 70%;">
                <div>
                    <table class="tableoption" cellspacing="0" cellpadding="0" width="98%">
                        <tbody>
                            <tr style="background: rgb(225, 224, 224);">
                                <td style="width: 150px; padding-right: 20px;"><span>商品名称</span></td>
                                <td style="width: 60px;"><span>商品图片</span></td>
                                <td align="center" style="letter-spacing: 1px; width: 80px; display: none;"><span><b>允许填空</b></span>
                                </td>
                                <td style="width: 60px;"><span><input type="checkbox" tabindex="-1"
                                                                                      title="给选项设置分数，可用于Likert量表或者测试类型的问卷"
                                                                                      style="display: none;"><span
                                                        style="cursor: pointer;">商品价格</span></span>
                                </td>
                                <td style="width: 50px;">总库存</td>
                                <td style="display: none;"></td>
                                <td style="display: none;"><span style="cursor: pointer;">分组</span></td>
                                <td align="center" style="width: 115px;"><span>操作</span></td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="center"><input type="hidden" value=""><span title="添加图片" class="choiceimg design-icon design-img"></span>
                                    <span style="vertical-align: bottom; display: none;"><input
                                                            type="checkbox" tabindex="-1" title="是否显示选项文字"
                                                            class="checkbox"></span>
                                </td>
                                <td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
                                </td>
                                <td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5" title="设置商品价格"
                                                                                    style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left"><span><input type="text" class="inputtext"
                                                                              maxlength="4" title="为空表示不限制库存，0表示已售完"
                                                                              style="width: 40px; height: 20px;"></span>
                                </td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
                                    <input type="hidden" value=""></td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span
                                        title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="center"><input type="hidden" value=""><span title="添加图片" class="choiceimg design-icon design-img"></span>
                                    <span style="vertical-align: bottom; display: none;"><input
                                                            type="checkbox" tabindex="-1" title="是否显示选项文字"
                                                            class="checkbox"></span>
                                </td>
                                <td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
                                </td>
                                <td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5" title="设置商品价格"
                                                                                    style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left"><span><input type="text" class="inputtext"
                                                                              maxlength="4" title="为空表示不限制库存，0表示已售完"
                                                                              style="width: 40px; height: 20px;"></span>
                                </td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
                                    <input type="hidden" value=""></td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span
                                        title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0px 0px; width: 150px;"><input type="text" class="inputtext choicetxt" tabindex="1" title="回车添加新选项，上下键编辑前后选项" style="width: 150px;">
                                </td>
                                <td align="center"><input type="hidden" value=""><span title="添加图片" class="choiceimg design-icon design-img"></span>
                                    <span style="vertical-align: bottom; display: none;"><input
                                                            type="checkbox" tabindex="-1" title="是否显示选项文字"
                                                            class="checkbox"></span>
                                </td>
                                <td style="display: none;"><span style="vertical-align: bottom; font-size: 12px;"><input
                                                        type="checkbox" tabindex="-1" title="允许填空" class="checkbox"
                                                        style="vertical-align: bottom;"><span style="display: none;">&nbsp;必填<input
                                                        type="checkbox" tabindex="-1" title="文本框必填"
                                                        class="checkbox"></span></span>
                                </td>
                                <td align="left"><span>&nbsp;<input type="text" class="inputtext"
                                                                                    maxlength="5" title="设置商品价格"
                                                                                    style="width: 40px; height: 20px;"></span>
                                </td>
                                <td align="left"><span><input type="text" class="inputtext"
                                                                              maxlength="4" title="为空表示不限制库存，0表示已售完"
                                                                              style="width: 40px; height: 20px;"></span>
                                </td>
                                <td style="display: none;"><span>&nbsp;<input type="checkbox"
                                                                                              tabindex="-1"
                                                                                              class="checkbox"
                                                                                              title="若选中，用户在填问卷时此选项会默认被选中"></span>
                                </td>
                                <td align="left" style="width: 80px; display: none;"><a tabindex="-1" class="link-666" href="javascript:void(0);">分组</a>
                                    <input type="hidden" value=""></td>
                                <td align="center"><span title="在此选项下面插入一个新的选项" class="choiceimg design-icon design-add" style="cursor: pointer;"></span>
                                    <span title="删除当前选项（最少保留2个选项）" class="choiceimg design-icon design-minus" style="cursor: pointer;"></span>
                                    <span
                                        title="将当前选项上移一个位置" class="choiceimg design-icon design-cup" style="cursor: pointer;"></span><span title="将当前选项下移一个位置" class="choiceimg design-icon design-cdown" style="cursor: pointer;"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="divclear"></div>
            <div style="margin: 12px 0px 5px; display: none;">
                <div style="width: 98%;"><span class="spanLeft"><a href="javascript:"

                                                                                       class="link-U00a6e6"
                                                                                       style="text-decoration:none;"><span
                                            class="choiceimg design-icon design-singleadd"></span><b>添加选项</b></a>&nbsp;&nbsp;
                    <a href="javascript:" class="batchadd" title="批量添加选项"><span
                                            class="choiceimg design-icon design-badd"></span><b>批量增加</b></a>&nbsp;&nbsp;
                    <a href="javascript:" class="link-U666" title="引用其它题的选中项">引用其它题选中项</a>&nbsp;</span>
                    <span class="spanRight">
						<span style="display: inline-block;">
							<select ng-model="question.optionProportion"> 
                            	<option value="arrangeOne">竖向排列</option>
                                <optgroup label="横向排列">
                                	<option value="arrangeTwo">每行2列</option>
                                	<option value="arrangeThree">每行3列</option>
                                	<option value="arrangeFour">每行4列</option>
									<option value="arrangeFive">每行5列</option>
									<option value="arrangeSix">每行6列</option>
									<option value="arrangeSeven">每行7列</option>
									<option value="arrangeEight">每行8列</option>
                                </optgroup>
                            </select>
						</span>
					</span>
                                    <span class="spanRight"><input type="checkbox"
                                                                                                tabindex="-1"><span>选项随机&nbsp;</span></span>
                    <span class="spanRight"><span>至少选 </span><span><select
                                            onchange="cur.limitChange(this);"
                                            style="width:40px;">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select></span><span> 项&nbsp;最多选 </span><span><select
                                            onchange="cur.limitChange(this);"
                                            style="width:40px;">
                                        <option value=""></option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select></span> 项<span>&nbsp;&nbsp;</span></span>

                    <div class="divclear"></div>
                </div>
                <div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
                <div style="display: none; margin: 10px 0px;"></div>
            </div>
        </div>
        <div style="clear: both; line-height: 1px;">&nbsp;</div>
        <div>
            <div style="margin:10px 0 10px 18px;font-size:14px"><b style="color:#f17819;">商品支付方式:</b>&nbsp;&nbsp;<a href="/wjx/design/setactivitywpay.aspx?activity=9975924"
                    class="titlelnk" target="_blank">设置微信支付</a></div>
        </div>
<div class="attr_question_box" style="margin: 15px 10px;" ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>