<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.
            <span style="color: red;" ng-show="question.required">*</span>
        </div>
        <div class="div_title_question"><span ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="imageSlider-div">
            <div class="div_table_clear_top clearfix"></div>
            <span class="spanLeft" style="color: red;">{{question.minValueShow}}</span>
            <span class="spanLeft" style="color: red;">({{question.minValue}})</span>
            <span class="spanRight" style="color: red;">({{question.maxValue}})</span>
            <span class="spanRight" style="color: red;">{{question.maxValueShow}}</span>
            <div class="divclear"></div>
            <!--for a short time-->
            <div ng-init="question.options[0].questionCode=question.code"></div>
            <div ng-init="question.options[0].answerOption=0"></div>
            <ul class="imageSlider-box"> 
                  <li ng-model="question.options[0].answerOption" class="imageSlider " title="{{item}}" ng-repeat="item in question.minValue|numberToArray:question.maxValue"
                   ng-touchstart="question.drag(question.options[0],item,$event)"  
                   ng-touchend="question.drag(question.options[0],item,$event)"  
                    ng-touchmove="question.drag(question.options[0],item,$event)"
                     ng-mousedown="question.drag(question.options[0],item,$event)" 
                    ng-mousemove="question.drag(question.options[0],item,$event)">
                     <span ng-class="{true:'imageBar1',false:'imageSlider'}[question.options[0].answerOption===item]"></span>
                    <span class="imageSlider-number" ng-show="question.options[0].answerOption===item">{{item}}</span>
                </li>
            </ul>
        </div>
        <div class="divclear"></div>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div class='errorMessage'></div>
</div>