<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.<span style="color: red;" ng-show="question.required">*</span></div>
        <div class="div_title_question"><span  ng-bind-html="trustAsHtml(question.title)"></span></div>
        <div ng-value="{{question.sortNo=$index}}"></div> 
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question clearfix">
        <div class="div_table_clear_top"></div>
            <ul class="option-box">
                <li class="option-box-li" ng-repeat="option in question.options track by $index"  ng-value="{{option.sortNo=$index}}">
                    <div>
                        <span class="sort-number">{{$index+1}}</span>
                        <!--排序题每个选项都是True-->
                        <span ng-value="option.answerOption=true"></span>
                        <label>{{option.title}}</label>  
                        <ul class="qButton"> 
                            <li><a class="sort-glyphicon-box" ng-click="question.moveUp(option)"><span class="glyphicon glyphicon-upload sort-glyphicon"></span></a></li>
                            <li><a class="sort-glyphicon-box" ng-click="question.moveDown(option)"><span class="glyphicon glyphicon-download sort-glyphicon"></span></a></li>
                        </ul>
                        <div ng-model="question.sortOperation"></div> 
                    </div>    
                </li> 
                <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        <div class="div_table_clear_bottom"></div>
    </div>
    <div class="div_ins_question"><span ng-if="question.hasReminder" ng-bind-html="trustAsHtml(question.reminder)"></span></div>
    <div class='errorMessage'></div>
</div>
