<div class="div_preview">
    <div class="div_title_question_all">
        <div class="div_topic_question">{{question|questionNoFilter:viewAnswer.questions}}.</div>
        <div class="div_title_question"><span>请在此输入问题标题</span><span style="color: red;">&nbsp;*</span></div>
       <div ng-value="{{question.sortNo=$index}}"></div> 
        <div style="clear: both;"></div>
    </div>
    <div class="div_table_radio_question">
        <div class="div_table_clear_top clearfix"></div>
        <table style="width:100%;" border="0px" cellpadding="5" cellspacing="0">
            <tbody>
                <tr>
                    <th align="left" style="width:15%;">外观</th>
                    <td align="left" width="36"><input type="text" style="width:36px;"></td>
                    <td align="left">
                        <div class="imageSlider">
                            <div title="拖动或点击滑动条" id="divSlider10_0_bar" class="imageBar1"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th align="left" style="width:15%;">性能</th>
                    <td align="left" width="36"><input type="text" style="width:36px;"></td>
                    <td align="left">
                        <div class="imageSlider">
                            <div title="拖动或点击滑动条" id="divSlider10_0_bar" class="imageBar1"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top:10px;"><span style="color:#666666;">可以拖动滑动条也可以通过文本框直接输入</span></div>
    </div>
    <div class="div_ins_question"></div>
    <div style="height: 18px;">
        <div class="div_ins_question spanLeft" style="clear: none; display: none;">*此题设置了跳转逻辑</div>
        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
    </div>
    <div class="div_ins_question spanLeft" style="clear: none; visibility: hidden;"><a>在此题后插入新题</a>
    </div>
    <!--题目设置-->
    <div class="spanRight topic-config-box" ng-include="'./views/design/share/question-tools.html'">
    </div>
    <div style="clear: both;"></div>
</div>
<div ng-if="question.editing">
    <div class="div_title_attr_question">
        <div style="margin-left: 8px;">
            <div class="spanLeft">
                <div style="background: rgb(226, 224, 225); height: 27px; line-height: 27px; width: 395px;">
                    <span style="float:left;">&nbsp;<b style="font-size:14px;">标题</b>&nbsp;<a
                                            href="javascript:"
                                            onmouseout="sb_setmenunav(toolTipLayer,false);" class="link-U666"
                                            title="引用前面题目的答案">引用</a></span>
                    <span class="spanRight" style="padding-right: 5px;"><a class="link-U666">设置标题字体、插入图片视频</a></span>

                    <div class="divclear"></div>
                </div>
                <div style="width: 395px;">
                    <div><textarea wrap="soft" rows="4" class="inputtext" tabindex="1" title="例如：您最喜欢的车型？" id="tcsum23" style="width: 388px; height: 70px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(221, 221, 221);"></textarea>
                    </div>
                </div>
            </div>
            <div class="spanLeft">
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1" title="用户在填写问卷时必须回答这道题">必答题<span style="display: none;">&nbsp;&nbsp;&nbsp;&nbsp;将所有题目设为：<b><a
                                            href="javascript:setAllRequired(true);" class="link-U00a6e6">必答</a></b>&nbsp;<a
                                            href="javascript:setAllRequired(false);" class="link-U00a6e6"><b>非必答</b></a></span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">填写提示<span style="display: none;">&nbsp;<input type="text" class="inputtext"
                                                                                style="width: 140px;"><span>&nbsp;</span>
                    <a href="javascript:">高级编辑模式</a>
                    </span>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1">无条件跳题<span style="display: none;"><span>，填写此题后跳转到第</span>
                    <input type="text" class="inputtext" style="width: 30px;"><span>题</span></span>
                    <i class="design-icon design-qmark"></i>
                </div>
                <div>&nbsp;&nbsp;<input type="checkbox" tabindex="-1"><span><b>关联逻辑</b></span><span style="display: none;"><a ng-click="relevanceDialog(question,$index)">设置关联逻辑</a></span><span><i
                                            class="design-icon design-qmark"></i></span><span style="display: none;">&nbsp;&nbsp;<a
                                            href="" class="link-U00a6e6">复制到后面的题目</a></span></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-left: 8px;">
            <div style="margin: 10px 0px;"></div>
            <div style="padding: 5px 0px 0px; width: 400px;">
                <div class="matrixtitle" style="width: 315px;">
                    <div style="margin-bottom: 10px;">可分配的总比重值：<input type="text" class="inputtext" maxlength="3" style="width: 30px; height: 20px; overflow: auto;">
                    </div>
                    <div class="matrixhead" style="padding-left: 4px;"><span style="float:left;"><b>比重评估项目</b></span>

                        <div class="divclear"></div>
                    </div>
                    <textarea wrap="soft" rows="7" class="inputtext" tabindex="1" title="相当于每个小题的标题" style="width: 308px; height: 154px; overflow: auto; padding: 2px;"></textarea>
                </div>
                <div class="divclear"></div>
                <div style="margin: 12px 0px 8px;"><a class="link-U666">插入标签</a>&nbsp;&nbsp;
                    <a href="javascript:" class="link-U666" title="引用其它题的选中项">引用其它题选中项</a>&nbsp;
                </div>
                <div style="margin: 10px 0px; display: none;"><select style="width: 220px;"></select></div>
                <div style="display: none; margin: 10px 0px;"></div>
            </div>
            <div style="margin-top: 8px;"><span>&nbsp;&nbsp;<b>行标题宽度：</b><select
                                        onchange="cur.setTWidth(this);">
                                    <option value="">默认</option>
                                    <option value="10%">10%</option>
                                    <option value="15%">15%</option>
                                    <option value="20%">20%</option>
                                    <option value="30%">30%</option>
                                    <option value="40%">40%</option>
                                    <option value="50%">50%</option>
                                    <option value="自定义">自定义</option>
                                </select>&nbsp;<input type="text" class="inputtext" maxlength="3"
                                                      style="width: 30px; display: none;"></span></div>
        </div>
        <div style="clear: both; line-height: 1px;">&nbsp;</div>
<div class="attr_question_box" style="margin: 15px 10px;" ng-include="'./views/design/share/finish-button.html'">
        </div>
    </div>
</div>